<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
<!-- <![endif] -->
<head>
    <title>Canada Olympic House</title>
    <meta content='<!-- page keywords -->' name='keywords'>
    <meta content='<!-- page description -->' name='description'>
    <meta content='<!-- page author -->' name='author'>
    <!-- instructions for robots -->
    <meta content='NOINDEX, NOFOLLOW' name='robots'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <!-- this enables responsive features in browser -->
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <!-- if you are going to support IE -->
    <!--[if IE]> <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> <![endif]-->
    <!-- / icons -->
    <link href='/content/meta_icons/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='/content/images/meta_icons/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
    <!-- / stylesheets -->
    <link href="/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/Content/jednotka_salmon.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/coh.css" rel="stylesheet" />
    <!-- if you are going to support IE8 -->
    <!--[if lt IE 9]>
      <script src="/scripts/ie/html5shiv.js" type="text/javascript"></script>
      <script src="/scripts/ie/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="boxed">
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <nav class="navbar navbar-default" id="nav" role="navigation">
                    <div class="navbar-header">
                        <!-- navigation toggler on small screens -->
                        <button class="navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="" style="color: #fff;">
                            <img src="/Content/images/coc-brand-x.png" style="max-height: 70px;" />
                        </a>
                    </div>
                    <!-- navigation -->
                    <div class="collapse navbar-collapse navbar-header-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/en"><span>Home</span></a></li>
                            <li><a href="/en/sochi_101"><span>Sochi 101</span></a></li>
                            <li><a href="/en/travel"><span>Getting to the Games</span></a></li>
                            <li><a href="/en/games"><span>At Games</span></a></li>
                            <li class="active"><a href="/en/faq"><span>FAQ</span></a></li>
                            <li><a href="/en/links"><span>Resources</span></a></li>
                            <li><a href="/en/contact"><span>Contact</span></a></li>
                            <li><a href="/fr/"><span>Fran&ccedil;ais</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div id="main">
            <div id="main-content">
                <div class="container">
                    <!-- your content with grid system -->
                    <div class="row text-box">
                         <h1 class="title">Frequently Asked Questions</h1><br />
                    
                           <div class="col-sm-3">
                               <div class="well"data-spy="affix" >
                            <ul class="list-unstyled" style="font-weight:bold; line-height:2em;">
	<li><a href="#accessibility">Accessability</a></li>
	<li><a href="#bicycles">Bicycles</a></li>
	<li><a href="#coh">Canada Olympic House</a></li>
	<li><a href="#health">Health & Safety</a></li>
	<li><a href="#accommodation">Accommodation</a></li>
	<li><a href="#passes">Spectator Passes</a></li>
	<li><a href="#ticketing">Ticketing </a></li>
	<li><a href="#transportation">Transportation</a></li>
	<li><a href="#visa">Visa Application</a></li>
	<li><a href="#misc">Miscellaneous/ Other</a></li>
</ul></div>
                               <div class="clearfix"></div>
                        </div>
                      <div class="col-sm-8 col-sm-offset-1">


                            <div id="accessibility" style="margin-bottom:20px;">
                                <h2>Accessibility</h2>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q1" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">How accessible are venues, hotels & transport for persons in wheelchairs/scooters?</a></h4></div><div id="q1" class="panel-collapse collapse"><div class="panel-body">All of the Olympic and Paralympic venues are accessible for all client groups. There will be 327 accessible buses available for persons with low mobility and VW Crafter mini vans will also be used.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q2" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Are there any hotels that are wheelchair accessible on the coast?</a></h4></div><div id="q2" class="panel-collapse collapse"><div class="panel-body">To the best of our knowledge, there are only a few hotels in the Coastal Cluster, accessible for wheelchairs, by low mobility standards. ie: in Adler the “Yuzhnoe Vzmorie” Hotel (5th building), Sochi the “Parus” Hotel. Cruise ships are also accessible. Contact us if you would like us to inquire about this at a specific hotel.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q3" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Are there any hotels that are wheelchair accessible in the mountains?</a></h4></div><div id="q3" class="panel-collapse collapse"><div class="panel-body">To the best of our knowledge, certain hotels are wheelchair/scooter accessible (Tulip Inn, Mercury, Park Inn, Radisson Rosa Khutor) in the mountains. Contact us if you would like us to inquire about this at a specific hotel.</div></div></div>
</div>
                            <div id="bicycles">
       <h2>Bicycles</h2>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q4" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Will the bicycle path lead to the main entrance of the Olympic Park?</a></h4></div><div id="q4" class="panel-collapse collapse"><div class="panel-body">No, we recommend using the Sochi spectator transport system.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q5" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Will there be a bike rack to lock bicycles in the Olympic Park?</a></h4></div><div id="q5" class="panel-collapse collapse"><div class="panel-body">No, there will not be bicycle racks available in the Olympic Park.</div></div></div>
</div>
                            <div id="coh">
                                <h2>Canada Olympic House</h2>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q6" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Can an athlete bring more than six people into Canada Olympic House?</a></h4></div><div id="q6" class="panel-collapse collapse"><div class="panel-body">Additional requests will be dealt with on-site based on capacity. Please remember that you must register in advance.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q7" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Can you get into Canada Olympic House without an event ticket or a spectator pass?</a></h4></div><div id="q7" class="panel-collapse collapse"><div class="panel-body">You need a spectator pass plus an event ticket or a park entry ticket to get into the Olympic Park, which is where COH is located. To get into COH once you are in the Park, all you need is your COH accreditation which you will receive on your first visit; you will need to bring this with you for every visit. For those who are not purchasing tickets to events at all but would like to access the Park/COH, the COC will receive extra registration codes that they can supply for F&F to ensure they can get a spectator pass.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q8" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Will COH have an ATM onsite?</a></h4></div><div id="q8" class="panel-collapse collapse"><div class="panel-body">No, not at COH, however there is a Bank and ATMs in the Olympic Park.</div></div></div>
</div>
                            <div id="health">
                                <h2>Health & Safety</h2>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q9" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Is there a hospital in the mountain cluster and are there English-speaking doctors on site?</a></h4></div><div id="q9" class="panel-collapse collapse"><div class="panel-body">Yes, there is a hospital in the mountain cluster and there will be English-speaking doctors.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q10" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Will there be security cameras "on board" the cruise ships?</a></h4></div><div id="q10" class="panel-collapse collapse"><div class="panel-body">Yes, there will be.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q11" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">In case of emergency, what number do I call?</a></h4></div><div id="q11" class="panel-collapse collapse"><div class="panel-body">The hospital in Adler - Dial 03 (it's like 911 in Canada, ambulance) or from cell (862) 40-06-73 <br/>The Adler police station - dial 02 or from cell-phone (862) 246-60-00 <br/>The local fire station - dial 01 or from cell-phone (862) 240-01-77, 240-07-52 <br/>Dental Center in Adler - 235-27-27 Hotline <br/>Embassy of Canada in Russia: 810-800-201-41012 <br/></div></div></div>
</div>
                            <div id="accomodation">
                                <h2>Accommodation</h2>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q12" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Where should I stay?</a></h4></div><div id="q12" class="panel-collapse collapse"><div class="panel-body">Even though they are called the Sochi Games there are no Olympic Venues in Sochi. The Olympic Park with the Ice Event Venues, the Athletes Village and Media Centre are in Adler and in Krasnaya Polyana which is closer to Adler than Sochi. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q13" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What are my accommodation options?</a></h4></div><div id="q13" class="panel-collapse collapse"><div class="panel-body">The available accommodation consists mostly of hotels and cruise ships. Unlike other Olympic Games extremely few local residents wanted to rent out their home. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q14" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What standards are the hotel rooms?</a></h4></div><div id="q14" class="panel-collapse collapse"><div class="panel-body">If you are coming from Europe or North America do not expect 5-Star Hotels, these were all taken by the Host Committee. Most of the accommodation available is in Mini Hotels with less than 50 rooms. They are usually family owned. </div></div></div>
</div>
                            <div id="passes">
                                <h2>Spectator Passes</h2>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q15" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">When will we receive the registration codes to apply for spectator pass?</a></h4></div><div id="q15" class="panel-collapse collapse"><div class="panel-body">All Family & Friends that have purchased tickets should receive their registration code in the next few weeks.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q16" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What happens if you lose your spectator pass?</a></h4></div><div id="q16" class="panel-collapse collapse"><div class="panel-body">You would visit a spectator pass centre to have your pass reprinted. These will be in the Sochi City Centre, at the airport, outside the Olympic Park, and at each individual venues. Family and Friends can look for them near the ticket box offices.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q17" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What happens if you’ve uploaded your codes to your spectator pass and then you decide you want to sell your ticket?</a></h4></div><div id="q17" class="panel-collapse collapse"><div class="panel-body">No action is required. The spectator pass is not linked directly to the specific ticket you are using. The person you are selling the ticket to must have a spectator pass.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q18" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What if you want to sell your ticket before having uploaded the code?</a></h4></div><div id="q18" class="panel-collapse collapse"><div class="panel-body">No action required as the code you’ve received is not linked to the specific tickets you have purchased.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q19" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Where will the Petro Canada ticket codes come from?</a></h4></div><div id="q19" class="panel-collapse collapse"><div class="panel-body">They will be distributed to your National Sport Federations by the Canadian Olympic Committee at the same time as the rest of your codes.</div></div></div>
</div>
                            <div id="ticketing">
                                <h2>Ticketing</h2>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q20" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">When will we receive the actual tickets?</a></h4></div><div id="q20" class="panel-collapse collapse"><div class="panel-body">The timelines to receive the actual tickets vary but are roughly as follows:<br/>From CoSport: December<br/>From your NSFs: January or in Sochi<br/>From Petro-Canada: January or in Sochi<br/></div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q21" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Will there be a website for Family and Friends to exchange tickets?</a></h4></div><div id="q21" class="panel-collapse collapse"><div class="panel-body">No, there will not be an official website to exchange tickets.</div></div></div>
</div>
                            <div id="transportation">
                                <h2>Transportation</h2>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q22" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What are the hours of operation for the Railway Transport Network?</a></h4></div><div id="q22" class="panel-collapse collapse"><div class="panel-body">The Railway Transport Network will function from 5:00 am to 1:00 am.<br/>The Operation time for the route that goes from Sochi to the Airport will be open 24 hours.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q23" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Where can I purchase tickets to ride the train?</a></h4></div><div id="q23" class="panel-collapse collapse"><div class="panel-body">Railway tickets can be bought at the Transport Hubs. Prices are currently under consideration for the Games. Currently it costs $0.50 to take the train from the Airport to Adler and $2.00 to take the train from Adler to the Mountain.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q24" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Will there be any transportation from the Adler and/or Sochi cruise ships to the Olympic Park?</a></h4></div><div id="q24" class="panel-collapse collapse"><div class="panel-body">There is no Olympic Transportation from the cruise ships to the Olympic Park, but there are two feeder bus routes (#100, #57) that can be used to get to the Olympic Park Hub from the Sea Port (Adler). In Sochi, the spectators will be able to take a walk (15 minutes) or use a feeder bus to get to the station, which is the main transportation hub in Sochi.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q25" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Do you have any information on the Cableway Transport Service (to get to the venues in the Mountain)?</a></h4></div><div id="q25" class="panel-collapse collapse"><div class="panel-body">The Cableway connects the mountain transport hubs with the competition venues. It will operate 3 hours before events and it will end 3 hours after the event. Access to the Venues by cableway is available for Spectators with a ticket for the competition on this venue on the same day. It is not possible to buy a ticket for the cable way.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q26" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Will the Canadian Olympic Committee provide ground transportation from the airport to the cruise ships or hotels in Adler and Sochi?</a></h4></div><div id="q26" class="panel-collapse collapse"><div class="panel-body">We will work with Family & Friends in assisting you with pre-booking a car for an airport pickup to your accommodations if you are interested. This would be at your cost, but facilitated by us (given the language barrier). Exact details will be shared shortly. If you do not want to spend money on a car service, our Family & Friends officers will be on-site at the airport as much as possible to help you find taxis to your accommodations. We can provide approximate taxi costs based on hotel locations.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q27" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">How much will the airport pick-up service cost?</a></h4></div><div id="q27" class="panel-collapse collapse"><div class="panel-body">To be confirmed and communicated shortly.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q28" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">How much do taxis cost?</a></h4></div><div id="q28" class="panel-collapse collapse"><div class="panel-body">Overall, the taxi prices are very reasonable and rates are quite comparable to Canada. If the driver does not have a meter, be sure to ask for the price before getting into a taxi.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q29" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What are the best routes to reach Sochi?</a></h4></div><div id="q29" class="panel-collapse collapse"><div class="panel-body">From experience, the two best connections for flights are through Istanbul and Moscow. There are more options through Moscow over Istanbul. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q30" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What happens when I arrive?</a></h4></div><div id="q30" class="panel-collapse collapse"><div class="panel-body">One thing to know in advance that from the time your plane lands until you walk out into the arrivals area it could take up to 2 hours. The Russian Customs are a slow process and then once you get your bags everything leaving the airport is scanned. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q31" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Can I rent a car?</a></h4></div><div id="q31" class="panel-collapse collapse"><div class="panel-body">We do not suggest renting a car. There will be very limited access for cars not showing the Olympic Vehicle Pass. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q32" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">How do I get to my events?</a></h4></div><div id="q32" class="panel-collapse collapse"><div class="panel-body">If your events are in Adler, you can catch the local bus, grab a taxi or use the Olympic Train. If you have tickets for events in the Mountain the only way to get there is on the LTR Train. You should plan on one hour to reach the mountains.</div></div></div>
</div>
                            <div id="visa">
                                <h2>Visa Application</h2>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q33" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">If you are staying at more than one hotel, do you need more than one invitation letter and registration number to apply for your Visa (one for each) or is one code sufficient?</a></h4></div><div id="q33" class="panel-collapse collapse"><div class="panel-body">CIBT Visas has informed us that in the case where you travel to multiple hotels, you must use the code from the first hotel that you are staying at.</div></div></div>
</div>
                            <div id="misc">
                                <h2>Miscellaneous/Other</h2>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q34" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What is the currency used in Russia?</a></h4></div><div id="q34" class="panel-collapse collapse"><div class="panel-body">The currency used in Russia is the Ruble (RUB). Recently the exchange rate has been close to 31.5060, where 1 Canadian Dollar equals 31.51 Russia rubles. The most current exchange rate can be found at www.bankofcanada.ca</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q35" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Do I need a plug adaptor or convertor for my electronics?</a></h4></div><div id="q35" class="panel-collapse collapse"><div class="panel-body">Russia uses 220 volts, 50 cycles, and European type electrical sockets</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q36" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What time zone is Sochi in?</a></h4></div><div id="q36" class="panel-collapse collapse"><div class="panel-body">Sochi, Russia is in the Moscow time zone, which is referred to as MSK (Moscow Standard Time). It is +4 hours than the UTC/GMT (Greenwich Mean Time).<br/>MST (Mountain Standard time) + 11 hours in the Winter<br/>EST (Eastern Standard time) + 9 hours in the Winter<br/>PST (Pacific Standard time) + 12 hours in the Winter<br/>AST (Atlantic Standard time) + 8 hours in the Winter</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q37" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">How much should I tip a waiter/waitress in Russia?</a></h4></div><div id="q37" class="panel-collapse collapse"><div class="panel-body">10 to 15% is the accepted rate of tipping for restaurant servers and coat check and luggage attendants. If there is no waiter in a restaurant or bar, a tip is not encouraged. <br/>You can tip drivers or tour guides up to the equivalent of $10 per day in Rubles, and housekeeping staff the equivalent of $1 to $2 in Rubles, usually left in an ashtray daily. <br/>Make sure to always check your bill to see if the tip has already been included.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q38" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Is the water safe in Russia?</a></h4></div><div id="q38" class="panel-collapse collapse"><div class="panel-body">It is recommended to drink only bottled water.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q39" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What is the legal drinking age in Russia?</a></h4></div><div id="q39" class="panel-collapse collapse"><div class="panel-body">The legal drinking age in Russia is 18.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q40" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Where is the Embassy of Canada located in Russia?</a></h4></div><div id="q40" class="panel-collapse collapse"><div class="panel-body">The Embassy of Canada is located in Moscow:<br/>23 Starokonyushenny Pereulok<br/>Moscow 119002 Russia<br/>(near the Old Arbat street, Metro: Kropotkinskaya)<br/>Tel.: + 7 (495) 925-6000<br/>Fax: + 7 (495) 925-6025<br/>Email: mosco@international.gc.ca</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q41" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What is the weather like in Sochi during the months of February and March?</a></h4></div><div id="q41" class="panel-collapse collapse"><div class="panel-body">The weather is typically 8-10°c in February-March. <br/>At sea level in Sochi, the temperatures are almost always on the plus side. <br/>The mountains rise dramatically to over 2,000 m within 35 km inland resulting in generally good snow conditions.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q42" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What is the food like?</a></h4></div><div id="q42" class="panel-collapse collapse"><div class="panel-body">You have a very wide choice of both Russian and International cuisine to select from. Some of the Russian traditional dishes you should try are; Borsht (beet soup), Shchi (cabbage soup) and Ukha (fish soup). Lamb is very popular and comes in a wide variety of different dishes. There is one McDonalds in Sochi and one in Adler (on the boardwalk). There is also one Subway in Sochi and one in Adler, both located nearby the waterfront.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q43" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Where is Adler?</a></h4></div><div id="q43" class="panel-collapse collapse"><div class="panel-body">Adler is located 35km from Sochi. The only airport that you can fly into is also in Adler. The transportation hub for the Olympic Games is located in Adler. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q44" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What is in Adler?</a></h4></div><div id="q44" class="panel-collapse collapse"><div class="panel-body">Adler is located 35km from Sochi. The only airport that you can fly into is also in Adler. The transportation hub for the Olympic Games is located in Adler. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q45" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Will there be a language problem?</a></h4></div><div id="q45" class="panel-collapse collapse"><div class="panel-body">Extremely few of the local retail stores and restaurants staff speak any English. Many restaurants now produce an English menu. We anticipate that once inside the Olympic Park and the Olympic Venues English will be spoken. If you have an iPhone one of the best apps is Speak Easy Russian. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q46" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Where are the medal presentations happening and are they accessible by the public or do you need a spectator pass and ticket?</a></h4></div><div id="q46" class="panel-collapse collapse"><div class="panel-body">The Medals plaza in the Olympic Park is a Live Site and free of charge and accessible for all guests inside the Olympic Park, however we do not yet know if it is a ticketed event. Canada Olympic House will also host Medal celebrations either immediately following the official ones at Medal plaza or the day after depending on what suits the medallist and the sport.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q47" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What is the distance between the train station and the Mountain lodge?</a></h4></div><div id="q47" class="panel-collapse collapse"><div class="panel-body">It is approximately a 10-15 minute walk from the Krasnaya Polyana train station to the Mountain Lodge.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q48" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Will there be English speaking volunteers at Moscow Airports?</a></h4></div><div id="q48" class="panel-collapse collapse"><div class="panel-body">Sochi 2014 will have information and signage at all Moscow Airports. There will also be English language assistance (volunteers).</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q49" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What do I need to bring to a Megafon store to get my SIM card?</a></h4></div><div id="q49" class="panel-collapse collapse"><div class="panel-body">You need to bring your passport and a Migration card (white paper that you will receive on the plane or before going through customs in Russia). The COC will also provide a cheat sheet (in Russian) to help you. If you are planning to purchase multiple SIM cards, you will also be asked to sign an authorization document allowing multiple SIM cards to be listed under your name. We recommend that you go to the Megafon store with someone who speaks Russian.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q50" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Is there a place to store luggage at the train station(s) or the airport?</a></h4></div><div id="q50" class="panel-collapse collapse"><div class="panel-body">Yes, there is a luggage storage area on the lower level (arrivals) of the airport. <br /><br /><img src="http://family.olympic.ca/content/coc-sochi-arrival-sign.jpg" class="img-responsive thumbnail" /></div></div></div>
</div>

                        </div>
                        
                        @*<div class="col-sm-12">
                            <h1 class="title">Frequently Asked Questions</h1>
                            <br />

                            <div class="panel-group accordion accordion-bordered" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p1" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What is the currency used in Russia?
                                        </a></h4>
                                    </div>
                                    <div id="p1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The currency used in Russia is the Ruble (RUB). Recently the exchange rate has been close to 31.5060, where 1 Canadian Dollar equals 31.51 Russia rubles. The most current exchange rate can be found at www.bankofcanada.ca
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p2" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Do I need a plug adaptor or convertor for my electronics?
                                        </a></h4>
                                    </div>
                                    <div id="p2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Russia uses 220 volts, 50 cycles, and European type electrical sockets
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p3" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What time zone is Sochi in?
                                        </a></h4>
                                    </div>
                                    <div id="p3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Sochi, Russia is in the Moscow time zone, which is referred to as MSK (Moscow Standard Time). It is +4 hours than the UTC/GMT (Greenwich Mean Time).
                <ul class="plain-list">
                    <li>MST (Mountain Standard time) + 11 hours in the Winter
                    </li>
                    <li>EST (Eastern Standard time) + 9 hours in the Winter
                    </li>
                    <li>PST (Pacific Standard time) + 12 hours in the Winter
                    </li>
                    <li>AST (Atlantic Standard time) + 8 hours in the Winter
                    </li>
                </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p4" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">How much should I tip a waiter/waitress in Russia?
                                        </a></h4>
                                    </div>
                                    <div id="p4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            10 to 15% is the accepted rate of tipping for restaurant servers and coat check and luggage attendants. If there is no waiter in a restaurant or bar, a tip is not encouraged. 
                <br />
                                            <br />
                                            You can tip drivers or tour guides up to the equivalent of $10 per day in Rubles, and housekeeping staff the equivalent of $1 to $2 in Rubles, usually left in an ashtray daily.
                <br />
                                            <br />
                                            Make sure to always check your bill to see if the tip has already been included.

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p5" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Is the water safe in Russia?
                                        </a></h4>
                                    </div>
                                    <div id="p5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            It is recommended to drink only bottled water.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p6" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What is the legal drinking age in Russia?
                                        </a></h4>
                                    </div>
                                    <div id="p6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The legal drinking age in Russia is 18.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p7" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Where is the Embassy of Canada located in Russia?
                                        </a></h4>
                                    </div>
                                    <div id="p7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <address>
                                                <strong>The Embassy of Canada is located in Moscow:</strong><br />
                                                <br />
                                                23 Starokonyushenny Pereulok<br />
                                                Moscow 119002 Russia<br />
                                                (near the Old Arbat street, Metro: Kropotkinskaya)<br />
                                                Tel.: + 7 (495) 925-6000<br />
                                                Fax: + 7 (495) 925-6025<br />
                                                Email: <a href="mailto:mosco@international.gc.ca">mosco@international.gc.ca</a><br />
                                            </address>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p9" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What is the weather like in Sochi during the months of February and March?
                                        </a></h4>
                                    </div>
                                    <div id="p9" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The weather is typically 8-10°c in February-March.
                    <br />
                                            <br />
                                            At sea level in Sochi, the temperatures are almost always on the plus side. 
                    <br />
                                            <br />
                                            The mountains rise dramatically to over 2,000 m within 35 km inland resulting in generally good snow conditions.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p10" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What is the food like?
                                        </a></h4>
                                    </div>
                                    <div id="p10" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            You have a very wide choice of both Russian and International cuisine to select from. Some of the Russian traditional dishes you should try are; Borsht (beet soup), Shchi (cabbage soup) and Ukha (fish soup). Lamb is very popular and comes in a wide variety of different dishes. There is one McDonalds in Sochi and one in Adler (on the boardwalk). There is also one Subway in Sochi and one in Adler, both located nearby the waterfront.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p11" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">In case of emergency, what number do I call?</a></h4>
                                    </div>
                                    <div id="p11" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                            The hospital in Adler - Dial 03 (it's like 911 in Canada, ambulance) or from cell (862) 40-06-73 
                        <br />
                                            <br />
                                            The Adler police station - dial 02 or from cell-phone (862) 246-60-00  
                        <br />
                                            <br />
                                            The local fire station - dial 01 or from cell-phone (862) 240-01-77, 240-07-52. 
                        <br />
                                            <br />
                                            Dental Center in Adler - 235-27-27 Hotline
                        <br />
                                            <br />
                                            Embassy of Canada in Russia: 810-800-201-41012
                        <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p12" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Where should I stay?</a></h4>
                                    </div>
                                    <div id="p12" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                            Even though they are called the Sochi Games there are no Olympic Venues in Sochi. The Olympic Park with the Ice Event Venues, the Athletes Village and Media Centre are in Adler and in Krasnaya Polyana which is closer to Adler than Sochi.
                                <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p13" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Where is Adler? </a></h4>
                                    </div>
                                    <div id="p13" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                            Adler is located 35km from Sochi. The only airport that you can fly into is also in Adler. The transportation hub for the Olympic Games is located in Adler.
                                        <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p14" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What is in Adler?</a></h4>
                                    </div>
                                    <div id="p14" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                            Adler has lots of very nice restaurants, a boardwalk along the Black Sea to stroll, a market to buy fresh food for your hotel room and it is an easy walk to everything. You can even walk to the Olympic Park which is only 7-8km away.
                                                <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p15" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What are my accommodation options? </a></h4>
                                    </div>
                                    <div id="p15" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                            The available accommodation consists mostly of hotels and cruise ships. Unlike other Olympic Games extremely few local residents wanted to rent out their home. 
                                                        <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p16" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What standards are the hotel rooms?</a></h4>
                                    </div>
                                    <div id="p16" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                            If you are coming from Europe or North America do not expect 5-Star Hotels, these were all taken by the Host Committee. Most of the accommodation available is in Mini Hotels with less than 50 rooms. They are usually family owned. 
                                                                <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p17" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What are the best routes to reach Sochi?</a></h4>
                                    </div>
                                    <div id="p17" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                            From experience, the two best connections for flights are through Istanbul and Moscow. There are more options through Moscow over Istanbul.  
                                                                        <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p18" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Will there be a language problem? </a></h4>
                                    </div>
                                    <div id="p18" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                            Extremely few of the local retail stores and restaurants staff speak any English. Many restaurants now produce an English menu. We anticipate that once inside the Olympic Park and the Olympic Venues English will be spoken.  If you have an iPhone one of the best apps is Speak Easy Russian. 
                                                                                <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p19" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">What happens when I arrive?</a></h4>
                                    </div>
                                    <div id="p19" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                            One thing to know in advance that from the time your plane lands until you walk out into the arrivals area it could take up to 2 hours. The Russian Customs are a slow process and then once you get your bags everything leaving the airport is scanned.
                                                                                        <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p20" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Can I rent a car?</a></h4>
                                    </div>
                                    <div id="p20" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                            We do not suggest renting a car. There will be very limited access for cars not showing the Olympic Vehicle Pass. 
                                                                                                <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p21" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">How do I get to my events?</a></h4>
                                    </div>
                                    <div id="p21" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                            If your events are in Adler, you can catch the local bus, grab a taxi or use the Olympic Train. If you have tickets for events in the Mountain the only way to get there is on the LTR Train. You should plan on one hour to reach the mountains.
                                        </div>





                                    </div>

                                </div>


                            </div>

                        </div>*@
                    </div>

                </div>
            </div>
            <footer id="footer">
                <div id="footer-main">
                    <div class="container">
                        <div class="row">
                            <!-- place for info boxes (see below) -->
                        </div>
                    </div>
                </div>

                <!-- copyright section -->
                <div id="footer-copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 clearfix">

                                <!-- copyright -->
                                <p class="copyright">Copyright &copy; 2013 Canadian Olympic Committee</p>

                                <!-- optional place for links -->
                                <div class="links">
                                    <a class="btn btn-circle btn-medium-light btn-sm" href="#">
                                        <i class="fa-icon-globe text-dark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
        </div>
        <!-- / javascripts -->
        <script src="/Scripts/jquery-1.9.1.js"></script>
        <script src="/Scripts/bootstrap.js"></script>
        <script src="/Scripts/jednotka.js"></script>
</body>
</html>
