<fieldset>
    <legend>Athlete's Information</legend>
    <div class="form-group">
        <label>First Name</label>                            
        <input id="officialFirstName" name="officialFirstName" class="form-control" data-ng-model="form.application.affiliation.firstName" data-ng-required="form.application.affiliation.value=='official'" />
        <span class="help-block error" data-ng-show="alpha.officialFirstName.$error.required && steps[0].complete" >Validation Message</span>
    </div>
    <div class="form-group">
        <label>Last Name</label>                            
        <input id="officialLastName" name="officialLastName" class="form-control" data-ng-model="form.application.affiliation.lastName" data-ng-required="form.application.affiliation.value=='official'" />
        <span class="help-block error" data-ng-show="alpha.officialLastName.$error.required && steps[0].complete" >Validation Message</span>
    </div>
    <div class="form-group">
        <label>Relationship to 
            <span data-ng-switch="form.application.affiliation.firstName != null && form.application.affiliation.lastName !=null" >
                <span data-ng-switch-when="true"><span style="text-transform:capitalize;">{{form.application.affiliation.firstName}} {{form.application.affiliation.lastName}}</span></span>
                <span data-ng-switch-default>Athlete</span>
            </span>
        </label>
        <select id="officialRelationship" name="officialRelationship" class="form-control" data-ng-model="form.application.affiliation.relationship" data-ng-options="r.type for r in relationships" data-ng-required="form.application.affiliation.value=='official'">
            <option value="">Select</option>
        </select>
        <span class="help-block error" data-ng-show="alpha.officialRelationship.$error.required && steps[0].complete">Validation Message</span>
    </div>
    <div class="form-group" data-ng-show="form.application.affiliation.relationship.type=='Other'">
        <label>Please Specify</label>
        <input id="officialRelationshipOther" name="officialRelationshipOther" type="text" class="form-control" data-ng-model="form.application.affiliation.relationship.value" data-ng-required="form.application.affiliation.relationship.type=='Other'"/>
        <span class="help-block error" data-ng-show="alpha.officialRelationshipOther.$error.required && steps[0].complete">Validation Message</span>
    </div>
    <div class="form-group">
        <label>Sport</label>
        <select id="officialSport" name="officialSport" class="form-control" data-ng-model="form.application.affiliation.area" data-ng-options="s.type for s in winterSports" data-ng-required="form.application.affiliation.value=='official'">
            <option value="">Select</option>
        </select>  
        <span class="help-block error" data-ng-show="alpha.officialSport.$error.required && steps[0].complete">Validation Message</span>                      
    </div>
</fieldset>