<fieldset>
    <legend>National Sport Federation Member's Information</legend>
    <div class="form-group">
        <label data-ng-class="{errorLabel:alpha.nsfFirstName.$error.required && steps[0].complete}">First Name</label>
        <input id="nsfFirstName" name="nsfFirstName" class="form-control" data-ng-class="{errorField:alpha.nsfFirstName.$error.required && steps[0].complete}" data-ng-model="form.application.affiliation.firstName" data-ng-required="form.application.affiliation.value=='nsf'" />
    </div>
    <div class="form-group">
        <label data-ng-class="{errorLabel:alpha.nsfLastName.$error.required && steps[0].complete}">Last Name</label>
        <input id="nsfLastName" name="nsfLastName" class="form-control" data-ng-class="{errorField:alpha.nsfLastName.$error.required && steps[0].complete}" data-ng-model="form.application.affiliation.lastName" data-ng-required="form.application.affiliation.value=='nsf'" />
    </div>
    <div class="form-group">
        <label data-ng-class="{errorLabel:alpha.nsfRelationship.$error.required && steps[0].complete}">
            Relationship to 
            <span data-ng-switch="form.application.affiliation.firstName != null && form.application.affiliation.lastName !=null">
                <span data-ng-switch-when="true"><span style="text-transform: capitalize;">{{form.application.affiliation.firstName}} {{form.application.affiliation.lastName}}</span></span>
                <span data-ng-switch-default>National Sport Federation Member</span>
            </span>
        </label>
        <select id="nsfRelationship" name="nsfRelationship" class="form-control" data-ng-class="{errorField:alpha.nsfRelationship.$error.required && steps[0].complete}" data-ng-model="form.application.affiliation.relationship" data-ng-options="r.type for r in relationships" data-ng-required="form.application.affiliation.value=='nsf'">
            <option value="">Select</option>
        </select>
    </div>
    <div class="form-group" data-ng-show="form.application.affiliation.relationship.type=='Other'">
        <label data-ng-class="{errorLabel:alpha.nsfRelationshipOther.$error.required && steps[0].complete}">Please Specify</label>
        <input id="nsfRelationshipOther" name="nsfRelationshipOther" type="text" class="form-control" data-ng-class="{errorField:alpha.nsfRelationshipOther.$error.required && steps[0].complete}"
            data-ng-model="form.application.affiliation.relationship.value" data-ng-required="form.application.affiliation.relationship.type=='Other'" />
    </div>
    <div class="form-group">
        <label data-ng-class="{errorLabel:alpha.nsfSport.$error.required && steps[0].complete}">
            Sport</label>
        <select id="nsfSport" name="nsfSport" class="form-control" data-ng-class="{errorField:alpha.nsfSport.$error.required && steps[0].complete}"
            data-ng-model="form.application.affiliation.area" data-ng-options="s.type for s in winterSports | orderBy: 'type'" data-ng-required="form.application.affiliation.value=='nsf'">
            <option value="">Select</option>
        </select>
    </div>
</fieldset>
