<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
<!-- <![endif] -->
<head>
    <title>Canada Olympic House</title>
    <meta content='<!-- page keywords -->' name='keywords'>
    <meta content='<!-- page description -->' name='description'>
    <meta content='<!-- page author -->' name='author'>
    <!-- instructions for robots -->
    <meta content='NOINDEX, NOFOLLOW' name='robots'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <!-- this enables responsive features in browser -->
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <!-- if you are going to support IE -->
    <!--[if IE]> <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> <![endif]-->
    <!-- / icons -->
    <link href='/content/meta_icons/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='/content/images/meta_icons/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
    <!-- / stylesheets -->
    <link href="/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/Content/jednotka_salmon.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/coh.css" rel="stylesheet" />
    <!-- if you are going to support IE8 -->
    <!--[if lt IE 9]>
      <script src="/scripts/ie/html5shiv.js" type="text/javascript"></script>
      <script src="/scripts/ie/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="boxed">
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <nav class="navbar navbar-default" id="nav" role="navigation">
                    <div class="navbar-header">
                        <!-- navigation toggler on small screens -->
                        <button class="navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="" style="color: #fff;">
                            <img src="/Content/images/coc-brand-x.png" style="max-height: 70px;" />
                        </a>
                    </div>
                    <!-- navigation -->
                    <div class="collapse navbar-collapse navbar-header-collapse">
                                       <ul class="nav navbar-nav navbar-right">
                            <li><a href="/en"><span>Home</span></a></li>
                            <li><a href="/en/sochi_101"><span>Sochi 101</span></a></li>
                            <li  class="active"><a href="/en/travel"><span>Getting to the Games</span></a></li>
                            <li><a href="/en/games"><span>At Games</span></a></li>
                            <li><a href="/en/faq"><span>FAQ</span></a></li>
                            <li   ><a href="/en/links"><span>Resources</span></a></li>
                            <li><a href="/en/contact"><span>Contact</span></a></li>
                            <li><a href="/fr/"><span>Fran&ccedil;ais</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div id="main">
            <div id="main-content">
                <div class="container">
                    <!-- your content with grid system -->                  
                    <div class="row text-box">
                        <div class="col-sm-12">
                          <h2>Checklist</h2>
    <p><a href="/pdf/coc-sochi_checklist-en.pdf" target="_blank">Click here</a> to view the COC’S Checklist to ensure you don’t forget anything when preparing to travel to Sochi.</p>
        
        <h2>Russian Visa</h2>
    <div style="border:1px solid red; padding:15px; margin-bottom:20px;">
      <p style="color:red; font-weight:bold;">Important updates in visa policies for the Sochi 2014 spectators
        </p><p>With respect to the Winter Olympic Games and Paralympic Games in Sochi 2014, starting December 1, 2013 the following tourist visa requirements will apply to the persons wishing to visit the mentioned events. 
        </p><p>Visitors planning to attend sport competitions, opening or closing ceremonies of the Olympics must submit a standard form of tourist confirmation issued by an authorized Russian travel company, which must contain a note «Сочи 2014 зритель» (Sochi 2014 spectator).
        </p><p> Along with the confirmation the applicant must submit one of the following documents:
            <ul>
                <li><a href="http://www.rusembassy.ca/sites/default/files/Opening_Ceremony.jpg" target="_blank">entrance ticket for a specific sport event;</a>
                </li><li>or the electronic confirmation of its purchase at the Sochi 2014 Organizing Committee, or an <a href="http://www.rusembassy.ca/sites/default/files/list.pdf" target="_blank">offical ticket agency abroad</a>; 
                </li><li>or <a href="http://www.rusembassy.ca/sites/default/files/Spectator_Pass.jpg">Spectator Pass – Registration Card.</a></li>
            </ul>
            The other tourist visa requirements referred to below and applicable to the form, passport, visa fee etc. remain in force.
            </p>
        <a href="http://www.rusembassy.ca/node/57">Click here for more information</a>
        </div>  
        <p>Family and friends travelling to Russia for the Games must apply for a tourist visa. Those applying for visas should always refer to the latest information on the <a href="http://www.canada-ils.com/main.php" target="_blank">Russian Visa Application Center</a>.</p>
        

       
        <address>
            <strong>Russian Visa Application Center in Ottawa</strong><br />
            Suite 505, 294 Albert Street, Ottawa, ON K1P 6E6<br />
            Tel:  613-670-1125<br />
            Fax: 613-670-1126<br />
            E-mail: <a href="mailto:info-ottawa@canada-ils.com">info-ottawa@canada-ils.com</a><br />
            Business hours: Monday- Friday 9:00 am - 12:30 pm and 2:00 pm - 4:30 pm<br />
        </address>
        <address>
            <strong>Russian Visa Application Center in Toronto</strong><br />
            Suite 200, 60 St. Clair Ave East, Toronto, ON, M4T 1N5<br />            Tel: 416-479-7386<br />
            Fax: 416-479-7388<br />
            E-mail: <a href="mailto:info-toronto@canada-ils.com">info-toronto@canada-ils.com</a><br />
            Business hours: Monday- Friday 9:00 am - 12:30 pm and 2:00 pm - 4:30 pm<br />
        </address>
        <address>
            <strong>Russian Visa Application Center in Montreal</strong><br />
            Suite 718, 1010 Sherbrooke Street West, Montreal, Quebec, H3A 2R7<br />
            Tel: 514-218-5380<br />
            Fax: 514-218-5381<br />
            E-mail: <a href="mailto:info-montreal@canada-ils.com">info-montreal@canada-ils.com</a><br />
            Business hours: Monday- Friday 9:00 am - 12:30 pm and 2:00 pm - 4:30 pm
            <br />
        </address>
    <p>Embassy of the Russian Federation in Canada: <a href="http://www.rusembassy.ca/" target="_blank">http://www.rusembassy.ca/</a>
</p><p>Embassy Link: <a href="http://www.embassylink.ca" target="_blank">http://www.embassylink.ca</a>
</p>
       
       
        <h2>Spectator Passes</h2>
        <ul>
            <li>All non-accredited ticket holders will be required to apply for, and validate a spectator pass to access venues.</li>
            <li>The spectator pass will have to be shown with a ticket to enter the venue.</li>
            <li>Application for a spectator pass can occur before or during the Games.</li>
            <li>There will be multiple Validation Centres in Sochi.</li>
            <li>CoSport will provide a specific code for tickets holders to use in their spectator pass registration.</li>
            <li>There will be a help line with English service for issues with the registration site.</li>
            <li>There will be an option to get a spectator pass on site.  It will be fast tracked due to security clearance being done for the visa.  This would indicate that a spectator pass is not needed to get a visa.</li>
            <li>Further updates are expected in the fall of 2013 and the COC will communicate the final process when available.</li>
        </ul>
        <h2>Migration Cards</h2>
        <p>
            In order to enter Russia, you must present a completed migration card.
        </p>
        <p>
            Migration cards will generally be distributed on the plane or on the train before your arrival or directly at the port of entry into Russia. They are also available at the airport prior to passport control.
        </p>
        <p>
            Generally, your migration card must be completed before proceeding to passport control. Please note that in some cases, they will complete it for you at passport control.
        </p>
        <p>
            A Migration card must be filled by each international visitor, irrespective of age.
        </p>
        <p>
            Please verify that the date that gets stamped on your Migration Card (and in your passport) is accurate before leaving the airport.
        </p>
        <p>
            You must ensure to keep your Migration card safe and not lose it as you need to hand it in when you leave Russia at the end of your trip.
        </p>
        <p>
            If the Migration Card is lost or damaged, please inform the Russian migration authorities on the same day so that the card can be reissued. In some cases, hotel staff could help facilitate this for you. If you experience difficulties please let your NSF F&F coordinator know so they can work with the COC to resolve it. 
        </p>
        <p><a href="/pdf/coc-sample_migration_card_en.pdf" target="_blank">Click here for an example of a Migration Card</a></p>
        <h2>What to Pack</h2>
        Important information<br /><br />
        <ul>
    
            <li>Allowable weight allowance for luggage is 50lbs (check with your airline)</li>
            <li>Pack a pair of comfortable shoes and/or boots</li>
            <li>Bring a change of clothes and any essential toiletries in your carry-on</li>
        </ul><br />
        Other optional handy items to take along<br /><br />
        <ul>
    
            <li>Special nutritional needs </li>
            <li>If you have allergies, medical or nutritional needs, it is useful to carry around a card explaining it in Russian</li>
            <li>Pillow – if you have a favourite you can’t sleep without</li>
            <li>Camera</li>
            <li>HBC Team gear to wear to events.</li>
            <li>Flip flops or slippers for indoor use</li>
            <li>Battery operated alarm clock</li>
            <li>Favourite toiletries</li>
            <li>Personal medications/vitamins (in its original packaging)</li>
            <li>Dollar store bath mat</li>
            <li>Extra contacts or prescription glasses</li>
            <li>Sunglasses </li>
            <li>European  adapter, converter, power bar</li>
            <li>Local currency (Russian Roubles)</li>
    
        </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div id="footer-main">
                <div class="container">
                    <div class="row">
                        <!-- place for info boxes (see below) -->
                    </div>
                </div>
            </div>

            <!-- copyright section -->
            <div id="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 clearfix">

                            <!-- copyright -->
                            <p class="copyright">Copyright &copy; 2013 Canadian Olympic Committee</p>

                            <!-- optional place for links -->
                            <div class="links">
                                <a class="btn btn-circle btn-medium-light btn-sm" href="#">
                                    <i class="fa-icon-globe text-dark"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <!-- / javascripts -->
    <script src="/scripts/jquery-1.9.1.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/jednotka.js"></script>
</body>
</html>
