<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
<!-- <![endif] -->
<head>
    <title>Canada Olympic House</title>
    <meta content='<!-- page keywords -->' name='keywords'>
    <meta content='<!-- page description -->' name='description'>
    <meta content='<!-- page author -->' name='author'>
    <!-- instructions for robots -->
    <meta content='NOINDEX, NOFOLLOW' name='robots'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <!-- this enables responsive features in browser -->
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <!-- if you are going to support IE -->
    <!--[if IE]> <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> <![endif]-->
    <!-- / icons -->
    <link href='/content/meta_icons/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='/content/images/meta_icons/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
    <!-- / stylesheets -->
    <link href="/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/Content/jednotka_salmon.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/coh.css" rel="stylesheet" />
    <!-- if you are going to support IE8 -->
    <!--[if lt IE 9]>
      <script src="/scripts/ie/html5shiv.js" type="text/javascript"></script>
      <script src="/scripts/ie/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="boxed">
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <nav class="navbar navbar-default" id="nav" role="navigation">
                    <div class="navbar-header">
                        <!-- navigation toggler on small screens -->
                        <button class="navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="" style="color: #fff;">
                            <img src="/Content/images/coc-brand-x.png" style="max-height: 70px;" />
                        </a>
                    </div>
                    <!-- navigation -->
                    <div class="collapse navbar-collapse navbar-header-collapse">
                                       <ul class="nav navbar-nav navbar-right">
                            <li><a href="/en"><span>Home</span></a></li>
                            <li><a href="/en/sochi_101"><span>Sochi 101</span></a></li>
                            <li  class="active"><a href="/en/travel"><span>Getting to the Games</span></a></li>
                            <li><a href="/en/games"><span>At Games</span></a></li>
                            <li><a href="/en/faq"><span>FAQ</span></a></li>
                            <li   ><a href="/en/links"><span>Resources</span></a></li>
                            <li><a href="/en/contact"><span>Contact</span></a></li>
                            <li><a href="/fr/"><span>Fran&ccedil;ais</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div id="main">
            <div id="main-content">
                <div class="container">
                    <!-- your content with grid system -->                  
                    <div class="row text-box">
                        <div class="col-sm-12">
                            <h2>Checklist</h2>
    <p><a href="/pdf/coc-sochi_checklist-en.pdf" target="_blank">Click here</a> to view the COC’S Checklist to ensure you don’t forget anything when preparing to travel to Sochi.</p>
        
        <h2>Russian Visa</h2>
        <p>
            Family and friends travelling to Russia for the Games must apply for a tourist VISA.  Please read through the following sections carefully in order to apply for your VISA.  Those applying for visas should always refer to the latest information on the Russian Embassy website (http://www.rusembassy.ca/node/400). 
        </p>
        <p>
            Please note that the Consular section of the Russian Embassy in Ottawa, Montreal and Toronto will no longer accept applications. Only applications made IN PERSON to the Visa Application Centers in Ottawa, Montreal and Toronto are at the present time accepted. 
        </p>
       
        <address>
            <strong>Russian Visa Application Center in Ottawa</strong><br />
            Suite 505, 294 Albert Street, Ottawa, ON K1P 6E6<br />
            Tel:  613-670-1125<br />
            Fax: 613-670-1126<br />
            E-mail: <a href="mailto:info-ottawa@canada-ils.com">info-ottawa@canada-ils.com</a><br />
            Business hours: Monday- Friday 9:00 am - 12:30 pm and 2:00 pm - 4:30 pm<br />
        </address>
        <address>
            <strong>Russian Visa Application Center in Toronto</strong><br />
            Suite 200, 60 St. Clair Ave East, Toronto, ON, M4T 1N5<br />
            Tel: 416-479-7386<br />
            Fax: 416-479-7388<br />
            E-mail: <a href="mailto:info-toronto@canada-ils.com">info-toronto@canada-ils.com</a><br />
            Business hours: Monday- Friday 9:00 am - 12:30 pm and 2:00 pm - 4:30 pm<br />
        </address>
        <address>
            <strong>Russian Visa Application Center in Montreal</strong><br />
            Suite 718, 1010 Sherbrooke Street West, Montreal, Quebec, H3A 2R7<br />
            Tel: 514-218-5380<br />
            Fax: 514-218-5381<br />
            E-mail: <a href="mailto:info-montreal@canada-ils.com">info-montreal@canada-ils.com</a><br />
            Business hours: Monday- Friday 9:00 am - 12:30 pm and 2:00 pm - 4:30 pm
            <br />
        </address>
          <p> Please follow these steps in completing your VISA application.
       </p>
            <h5>Step 1: Making a plan</h5>
            <p>Determine where you will have your VISA processed. You have different options:</p>
    
        <ol>
            <li>In person: submit your application in person to the Visa Application Centers in Ottawa, Montreal and Toronto.
                <ol type="a"><li>If you are outside of Canada, you can follow the same steps and apply in person to the Russian Embassy of your host city (http://www.russianconsulates.com/)</li></ol>
            </li>
            <li>Local representative: ask a local representative (friend, relative, colleague, COC staff, etc.) to submit the application for you. 
                <ol type="a">
                    <li>You must have an authorization letter that confirms that your give your local representative permission to submit your application for you.</li>
                    <li><a href="/pdf/coc-third_party_authorization_letter_example.docx" target="_blank">Click here</a> for an example of an authorization letter.</li>
                </ol>
            </li>
            <li>Mail: applications can be mailed to the Visa Application Center but should be done at least 30 days prior to your departure. No rush service is available by mail.</li>
        </ol>
    
    
        <h5>Step 2: tourist voucher / confirmation from a Russian HOST</h5>
        <ul>
            <li>Prior to submitting your VISA application to the Visa Application Centers, you must obtain a “tourist voucher” and “confirmation” from a Russian hosting travel agency or hotel registered with the Russian Ministry of Foreign Affairs which confirms your trip to Russia. The voucher must be signed by an authorized person and carry the official seal of the Russian travel company with its reference number. Please <a href="#tourist_voucher" data-toggle="modal" >click here</a> for an example.
            </li>
            <li>You will need to ask for a voucher through your hotel. In order to obtain the voucher, you will need to make sure your passport is valid for 6 months after your departure date from Russia, has 2 completely blank pages face-to-face (not including pages 1-5), should be signed on page 3 and should be in good condition. 
            </li>
        </ul>
        <p>Please note that it can take up to a minimum of 2 weeks to obtain a voucher or confirmation from any organization. Once you receive your voucher or confirmation, you will be given a reference number which must accompany your VISA application. </p>
    
        <h5>Step 3: Application Form</h5>
        <p>The process to apply for your VISA is the same no matter what region you currently reside in. 
            </p>
        <p>Online application link: <a href="https://visa.kdmid.ru/PetitionChoice.aspx">https://visa.kdmid.ru/PetitionChoice.aspx</a> </p>
    
        A few things to consider when completing your application form:
        <ul>
            <li>The form must be printed on both sides of a single piece of paper.
                <ul>
                    <li>NOTE: do not use the printing instructions used on the website. When printing, ensure the top and bottom of the pages are not cut off. They will not accept your form if it is cut off.</li>
                </ul>
            </li>
            <li>Any corrections or whiteout on the forms will not be accepted.</li>
            <li>Sign and date the application with a black ink.</li>
        </ul>
        <h5>Step 4: Photo</h5>
        In order to complete your application documents, you must obtain a VISA photo that meets the following specifications and is glued (not stapled) in the appropriate spot on your VISA Application Form:
        <ul>
            <li>The frame size must be 35 mm x 45 mm</li>
            <li>Photo must be taken in the last 6 months prior to application</li>
            <li>Photo must be clear and taken against a plain white or light background</li>
            <li>Sunglasses are not acceptable</li>
            <li>The photo must show the full front view of the head, with the face in the middle of the photo, and include the top of the shoulders</li>
            <li>You must have a neutral expression, neither frowning nor smiling, and with your mouth closed </li>
     	</ul>
        <h5>Step 5: Sending it In</h5>
        <p>
            Once you have completed all the forms and gathered all the documentation needed to apply for your VISA, please either drop it off in person or by someone you know at the Ottawa, Toronto or Montreal Visa Application Centers. 
        </p>
        <p>
            In order to apply, you will need your passport, a photocopy of the ID page of your passport, your printed application, a visa photo (see step 4), your tourist voucher (with the reference number),a money order, bank draft, certified cheque payable to INVISA LOGISTIC SERVICES CANADA LTD or cash.
        </p>
        Processing Time
        <p>
            Please note that VISA applications can take up to approximately 20 days to process (30 days if your application is mailed in) and a rush application is approximately 3 days. Please give yourself sufficient time to allow you to receive your passport prior to your departure for Sochi.
        </p>
        <p>
            Although it has been noted that some consulates are able to provide same day VISA applications if you apply in person and arrive when the office opens (see business hours below), the normal turn around for in person applications is between 3 and 5 days. Please consult with your respective consulate as this may vary based on the time of year and number of applications received any given week.
        </p>
        <p>
            More information on the Russian Visa Application process can be found here: <a href="http://www.canada-ils.com/main.php?id=index&lang=en">http://www.canada-ils.com/main.php?id=index&lang=en</a>
        </p>
        <h5>Cost of Applying for a VISA</h5>
        <p>
            Please note they do not accept credit cards or company / personal cheques. Consular and ILS visa processing fees are non-refundable and included in the total price. ILS fee remains the same regardless of your visa type and processing time.
        </p>
        <p>
            Embassy of the Russian Federation in Canada: <a href="http://www.rusembassy.ca/">http://www.rusembassy.ca/</a>
        </p>
        <p>
            Embassy Link: <a href="http://www.embassylink.ca">http://www.embassylink.ca</a>
        </p>
       
        <h2>Ticketing</h2>
        <h4>The Petro-Canada Canadian Athlete Family Program</h4>
        <p>
            Since Vancouver 2010, Suncor Energy, through its Petro-Canada brand, has helped to ensure that Canadian athletes have family and friends watching them compete live at the Olympic Games. The parameters of the program shift slightly depending on ticket access availability and opportunity provided by each respective Organizing Committee of the Olympic Games (OCOG) but the spirit remains the same.
        </p>
        <p>
            As part of the continued partnership with the Canadian Olympic Committee, Petro-Canada will once again offer family and friends of the athletes the chance to share the Olympic experience in Sochi. That means that Petro-Canada will pay for two tickets (category B or C) for every event that a Canadian athlete competes in.
        </p>
        <p>
            Details of this program will be communicated to the National Sport Federations for Canadian Team Members at a later date. Note that the program is uniquely intended for the families and friends of the athletes and as such, resale of tickets is strictly forbidden. 
        </p>
        <p>
            Please contact <a href="mailto:family&friends@olympic.ca">family&friends@olympic.ca</a> or your NSF F&F Key Contact if you have any questions regarding this program.
        </p>
    <br />
        <h4>Sochi 2014 Ticketing Program</h4>
        <p>In addition to the Athlete Family & Friends tickets being provided by Petro-Canada, The Sochi Organizing Committee (Sochi 2014) will initiate a separate AF&F program that will allow additional access to the purchase of tickets for athletes competing at the Games. These tickets could be used to supplement the Petro-Canada program if 2 tickets per session is not considered sufficient.</p>
        <p>
            Here is information that has been communicated by Sochi 2014 about this program:
<ul><li>Up to 2 tickets will be available per session, per athlete for purchase.
</li><li>Opening or Closing Ceremony tickets are not included in this program
</li><li>The COC is responsible for facilitating the purchase and distribution of all tickets of the Sochi 2014 AF&F Ticketing Program.  Further details on this process will be communicated in November.
</li><li>These tickets can only be sold to family and friends of athletes participating in the Sochi 2014 Winter Olympic Games. They may not be sold to the general public.
    <ul>
        <li>Questions may be asked by Sochi 2014 staff at the venues to ensure the ticket holder is indeed a family member or a friend of an athlete.
    </li>
    </ul>
</li></ul>
Please note that CoSport / Jetset is the only company in Canada that has the rights to re-sell Olympic tickets.  Please also be reminded that anyone using a ticket must also have a valid Spectator Pass.
            

        </p>
       
       
        <h2>Spectator Passes</h2>
        <ul>
            <li>All non-accredited ticket holders will be required to apply for, and validate a spectator pass to access venues.</li>
            <li>The spectator pass will have to be shown with a ticket to enter the venue.</li>
            <li>Application for a spectator pass can occur before or during the Games.</li>
            <li>There will be multiple Validation Centres in Sochi.</li>
            <li>CoSport will provide a specific code for tickets holders to use in their spectator pass registration.</li>
            <li>There will be a help line with English service for issues with the registration site.</li>
            <li>There will be an option to get a spectator pass on site.  It will be fast tracked due to security clearance being done for the visa.  This would indicate that a spectator pass is not needed to get a visa.</li>
            <li>Further updates are expected in the fall of 2013 and the COC will communicate the final process when available.</li>
        </ul>
        <h2>Migration Cards</h2>
        <p>
            In order to enter Russia, you must present a completed migration card.
        </p>
        <p>
            Migration cards will generally be distributed on the plane or on the train before your arrival or directly at the port of entry into Russia. They are also available at the airport prior to passport control.
        </p>
        <p>
            Generally, your migration card must be completed before proceeding to passport control. Please note that in some cases, they will complete it for you at passport control.
        </p>
        <p>
            A Migration card must be filled by each international visitor, irrespective of age.
        </p>
        <p>
            Please verify that the date that gets stamped on your Migration Card (and in your passport) is accurate before leaving the airport.
        </p>
        <p>
            You must ensure to keep your Migration card safe and not lose it as you need to hand it in when you leave Russia at the end of your trip.
        </p>
        <p>
            If the Migration Card is lost or damaged, please inform the Russian migration authorities on the same day so that the card can be reissued. In some cases, hotel staff could help facilitate this for you. If you experience difficulties please let your NSF F&F coordinator know so they can work with the COC to resolve it. 
        </p>
        <p><a href="/pdf/coc-sample_migration_card_en.pdf" target="_blank">Click here for an example of a Migration Card</a></p>
        <h2>What to Pack</h2>
        Important information<br /><br />
        <ul>
    
            <li>Allowable weight allowance for luggage is 50lbs (check with your airline)</li>
            <li>Pack a pair of comfortable shoes and/or boots</li>
            <li>Bring a change of clothes and any essential toiletries in your carry-on</li>
        </ul><br />
        Other optional handy items to take along<br /><br />
        <ul>
    
            <li>Special nutritional needs </li>
            <li>If you have allergies, medical or nutritional needs, it is useful to carry around a card explaining it in Russian</li>
            <li>Pillow – if you have a favourite you can’t sleep without</li>
            <li>Camera</li>
            <li>HBC Team gear to wear to events.</li>
            <li>Flip flops or slippers for indoor use</li>
            <li>Battery operated alarm clock</li>
            <li>Favourite toiletries</li>
            <li>Personal medications/vitamins (in its original packaging)</li>
            <li>Dollar store bath mat</li>
            <li>Extra contacts or prescription glasses</li>
            <li>Sunglasses </li>
            <li>European  adapter, converter, power bar</li>
            <li>Local currency (Russian Roubles)</li>
    
        </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div id="footer-main">
                <div class="container">
                    <div class="row">
                        <!-- place for info boxes (see below) -->
                    </div>
                </div>
            </div>

            <!-- copyright section -->
            <div id="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 clearfix">

                            <!-- copyright -->
                            <p class="copyright">Copyright &copy; 2013 Canadian Olympic Committee</p>

                            <!-- optional place for links -->
                            <div class="links">
                                <a class="btn btn-circle btn-medium-light btn-sm" href="#">
                                    <i class="fa-icon-globe text-dark"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <!-- / javascripts -->
    <script src="/scripts/jquery-1.9.1.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/jednotka.js"></script>
</body>
</html>
