<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
<!-- <![endif] -->
<head>
    <title>Canada Olympic House</title>
    <meta content='<!-- page keywords -->' name='keywords'>
    <meta content='<!-- page description -->' name='description'>
    <meta content='<!-- page author -->' name='author'>
    <!-- instructions for robots -->
    <meta content='NOINDEX, NOFOLLOW' name='robots'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <!-- this enables responsive features in browser -->
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <!-- if you are going to support IE -->
    <!--[if IE]> <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> <![endif]-->
    <!-- / icons -->
    <link href='/content/meta_icons/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='/content/images/meta_icons/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
    <!-- / stylesheets -->
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jednotka_salmon.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/coh.css" rel="stylesheet" />
    <!-- if you are going to support IE8 -->
    <!--[if lt IE 9]>
      <script src="/scripts/ie/html5shiv.js" type="text/javascript"></script>
      <script src="/scripts/ie/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="boxed">
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <nav class="navbar navbar-default" id="nav" role="navigation">
                    <div class="navbar-header">
                        <!-- navigation toggler on small screens -->
                        <button class="navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="" style="color: #fff;">
                            <img src="~/Content/images/coc-brand-x.png" style="max-height: 70px;" />
                        </a>
                    </div>
                    <!-- navigation -->
                    <div class="collapse navbar-collapse navbar-header-collapse">
                       <ul class="nav navbar-nav navbar-right">
                            <li><a href="/fr"><span>Accueil</span></a></li>
                            <li><a href="/fr/sochi_101"><span>Sotchi 101</span></a></li>
                            <li><a href="/fr/travel"><span>Pour se rendre aux jeux</span></a></li>
                            <li><a href="/fr/games"><span>Logistique aux jeux</span></a></li>
                            <li class="active"><a href="/fr/faq"><span>FAQ</span></a></li>
                            <li><a href="/fr/links"><span>Liens utiles</span></a></li>
                            <li ><a href="/fr/contact"><span>Contactez-nous</span></a></li>
                            <li><a href="/en/"><span>English</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div id="main">
            <div id="main-content">
                <div class="container">
                    <!-- your content with grid system -->
                    <div class="row text-box">
                        <h1 class="title">Foire aux questions</h1>

                          <div class="col-sm-3">
                               <div class="well" data-spy="affix" >
                            <ul class="list-unstyled" style="font-weight:bold; line-height:2em;">
	<li><a href="#accessibility">ACCESSIBILITÉ</a></li>
<li><a href="#bicycles">VÉLOS</a></li>
<li><a href="#coh">MAISON OLYMPIQUE DU CANADA</a></li>
<li><a href="#health">SANTÉ ET SÉCURITÉ</a></li>
<li><a href="#accommodation">HÉBERGEMENT</a></li>
<li><a href="#passes">LAISSEZ-PASSER DES SPECTATEURS</a></li>
<li><a href="#ticketing">BILLETERIE</a></li>
<li><a href="#transportation">TRANSPORT</a></li>
<li><a href="#visa">APPLICATION DE VISA RUSSE</a></li>
<li><a href="#misc">DIVERS / AUTRES</a></li>

</ul></div>
                               <div class="clearfix"></div>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">


<div id="accessibility">
    <h2>ACCESSIBILITÉ</h2>

<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q1" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Les sites, hôtels et moyens de transport sont-ils accessibles en fauteuil roulant et fauteuil motorisé?</a></h4></div><div id="q1" class="panel-collapse collapse"><div class="panel-body">Tous les sites olympiques et paralympiques sont accessibles. 327 autobus accessibles et des fourgonnettes Crafter de Volkswagen seront en service.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q2" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Les hôtels sur la côte sont-ils accessibles en fauteuil roulant?</a></h4></div><div id="q2" class="panel-collapse collapse"><div class="panel-body">D’après ce que nous savons, seuls quelques hôtels de la zone côtière sont accessibles en fauteuil roulant et répondent aux normes en matière de mobilité : l’hôtel « Yuzhnoe Vzmorie » (5e édifice) d’Adler et l’hôtel « Parus » de Sotchi. Les bâteaux sont également accessibles. Contactez-nous si vous aimeriez qu’on s’informe à ce sujet à un hôtel spécifique.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q3" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Les hôtels de la zone alpine sont-ils accessibles en fauteuil roulant?</a></h4></div><div id="q3" class="panel-collapse collapse"><div class="panel-body">D’après ce que nous savons, certains hôtels sont accessibles en fauteuil roulant ou en fauteuil motorisé (Tulip Inn, Mercury, Park Inn, Radisson Rosa Khutor). Contactez-nous si vous aimeriez qu’on s’informe à ce sujet à un hôtel spécifique.</div></div></div>
</div><div id="bicycles">
    <h2>VÉLOS</h2>

<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q4" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">La piste cyclable mène-t-elle à l’entrée du Parc olympique?</a></h4></div><div id="q4" class="panel-collapse collapse"><div class="panel-body">Non, nous recommandons d’emprunter le système de transport en commun de Sotchi.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q5" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Trouve-t-on des supports à vélo dans le Parc olympique?</a></h4></div><div id="q5" class="panel-collapse collapse"><div class="panel-body">Non, il n’y a aucun support à vélo dans le Parc olympique.</div></div></div>
</div><div id="coh">
    <h2>MAISON OLYMPIQUE DU CANADA</h2>

<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q6" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Un athlète peut-il amener plus de six personnes à la Maison olympique du Canada?</a></h4></div><div id="q6" class="panel-collapse collapse"><div class="panel-body">Les demandes supplémentaires seront traitées sur place en fonction du nombre de personnes présentes à la MOC. Veuillez noter que vous devez vous enregistrer à l’avance.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q7" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Est-il possible d’entrer dans la Maison olympique du Canada sans billet de compétition et laissez-passer de spectateur?</a></h4></div><div id="q7" class="panel-collapse collapse"><div class="panel-body">Vous aurez besoin d’un laissez-passer de spectateur et d’un billet de compétition ou d’une entrée au Parc olympique pour accéder au Parc olympique où se trouve la Maison olympique du Canada. Une fois dans le parc, vous n’aurez besoin que de votre accréditation de la MOC qui vous sera remise lors de votre première visite. Vous en aurez besoin à chaque visite. Pour ceux qui n’achèteront pas de billets de compétition, mais qui voudraient quand même accéder au Parc et à la MOC, le COC recevra des codes d’inscription supplémentaires que la famille et les amis pourront utiliser pour obtenir leur laissez-passer de spectateur.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q8" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Y aura-t-il un guichet automatique à la Maison olympique du Canada?</a></h4></div><div id="q8" class="panel-collapse collapse"><div class="panel-body">Non, mais il y aura une banque et un guichet automatique dans le Parc olympique.</div></div></div>
</div><div id="health">
    <h2>SANTÉ ET SÉCURITÉ</h2>

<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q9" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Dans la zone alpine, trouve-t-on un hôpital ou des médecins anglophones?</a></h4></div><div id="q9" class="panel-collapse collapse"><div class="panel-body">Oui il y a un hôpital et des médecins Anglophones dans la zone alpine.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q10" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Les bateaux de croisière sont-ils dotés de caméras et de dispositifs de sécurité?</a></h4></div><div id="q10" class="panel-collapse collapse"><div class="panel-body">Oui il va y avoir des caméras et des dispositifs de sécurité.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q11" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">En cas d’urgence, quel numéro dois-je appeler?</a></h4></div><div id="q11" class="panel-collapse collapse"><div class="panel-body">L’hôpital est à Adler – composez le 03 (c’est comme le 911 au Canada pour une ambulance) ou le (862) 40-06-73 à partir du cellulaire <br/>Station de police d’Adler : Composez le 02 ou le (862) 246-60-00 à partir d’un téléphone cellulaire <br/>Caserne de pompiers : Composez le 01 ou le (862) 240-01-77 ou le 240-07-52 à partir d’un téléphone cellulaire. <br/>Centre dentaire à Adler : 235-27-27 (ligne d’urgence) <br/>Ambassade du Canada en Russie : 810-800-201-41012</div></div></div>
</div><div id="accommodation">
    <h2>HÉBERGEMENT</h2>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q12" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Où devrai-je loger?</a></h4></div><div id="q12" class="panel-collapse collapse"><div class="panel-body">Même s’il s’agit des Jeux de Sotchi, il n’y a aucun site olympique à Sotchi. Le Parc olympique, qui comprend les sites des épreuves sur glace, le village des athlètes et le centre des médias sont situés à Adler et certains sites sont à Krasnaya Polyana qui est plus proche d’Adler que de Sotchi. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q13" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quels sont mes choix d’hébergement?</a></h4></div><div id="q13" class="panel-collapse collapse"><div class="panel-body">Les hébergements disponibles se trouvent pour la plupart dans des hôtels ou à bord de paquebots de croisière. Contrairement aux éditions précédentes des Jeux olympiques, très peu de résidants ont souhaité louer leur maison.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q14" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quel est le standard des chambres d’hôtel?</a></h4></div><div id="q14" class="panel-collapse collapse"><div class="panel-body">Si vous venez de l’Europe ou de l’Amérique du Nord, ne vous attendez pas à trouver des hôtels 5 étoiles, ils ont tous été réservés par le comité d’organisation. La plupart des chambres d’hôtel disponibles se trouvent dans des petits hôtels de moins de 50 chambres. Ils sont en général gérés par les familles. </div></div></div>
</div><div id="passes">
    <h2>LAISSEZ-PASSER DES SPECTATEURS</h2>

<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q15" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quand recevrons-nous les codes d’inscription nécessaires pour obtenir un laissez-passer de spectateur?</a></h4></div><div id="q15" class="panel-collapse collapse"><div class="panel-body">Tous les membres de la famille et les amis qui se sont procuré des billets devraient recevoir leur code d’inscription au cours des prochaines semaines.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q16" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quoi faire en cas de perte de votre laissez-passer de spectateur?</a></h4></div><div id="q16" class="panel-collapse collapse"><div class="panel-body">Vous devez vous rendre à l’un des centres des laissez-passer de spectateur pour le faire réimprimer. Les centres se trouvent au centre-ville de Sotchi, à l’aéroport, à l’extérieur du Parc olympique et dans tous les sites. Vous les trouverez près des billetteries.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q17" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Que faire si vous avez téléchargé vos codes sur votre laissez-passer de spectateur et que vous voulez vendre votre billet par la suite?</a></h4></div><div id="q17" class="panel-collapse collapse"><div class="panel-body">Il n’y a rien à faire. Le laissez-passer de spectateur n’est pas relié à un billet en particulier. La personne à qui vous vendrez le billet doit cependant posséder un laissez-passer de spectateur.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q18" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Que faire si vous voulez vendre votre billet avant d’avoir téléchargé le code?</a></h4></div><div id="q18" class="panel-collapse collapse"><div class="panel-body">Il n’y a rien à faire. Le code n’est pas relié au billet que vous avez acheté.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q19" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">D’où proviennent les codes des billets de Petro-Canada?</a></h4></div><div id="q19" class="panel-collapse collapse"><div class="panel-body">Le Comité olympique canadien va les remettre à votre fédération nationale de sport en même temps que vos autres codes.</div></div></div>
</div><div id="ticketing">
    <h2>BILLETERIE</h2>

<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q20" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quand recevrons-nous les billets?</a></h4></div><div id="q20" class="panel-collapse collapse"><div class="panel-body">Les billets vous seront envoyés autour des dates suivantes, mais le calendrier de remise des billets peut varier :<br/>CoSport : décembre<br/>FNS : en janvier ou à Sotchi<br/>Petro-Canada : en janvier ou à Sotchi</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q21" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Les membres de la famille et les amis auront-ils accès à un site d’échange de billets?</a></h4></div><div id="q21" class="panel-collapse collapse"><div class="panel-body">Non, il n’y aura pas de site officiel d’échange de billets.</div></div></div>
</div><div id="transportation">
    <h2>TRANSPORT</h2>

<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q22" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quelles sont les heures de fonctionnement du système de transport ferroviaire?</a></h4></div><div id="q22" class="panel-collapse collapse"><div class="panel-body">Le système de transport ferroviaire sera en service de 5 h à 1 h.<br/>La route reliant Sotchi à l’aéroport sera ouverte en tout temps.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q23" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Où puis-je me procurer des billets de train?</a></h4></div><div id="q23" class="panel-collapse collapse"><div class="panel-body">Les billets de train sont en vente dans les stations. Les prix ne sont pas encore fixés pour les Jeux. À l’instant, le coût pour prendre le train de l’aéroport à Adler est $0.50 et $2.00 pour prendre le train d’Adler à la zone alpine.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q24" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Les bateaux de croisière d’Adler et de Sotchi seront-ils reliés au Parc olympique par des moyens de transport?</a></h4></div><div id="q24" class="panel-collapse collapse"><div class="panel-body">Il n’y a pas de navette olympique reliant les bateaux de croisière au parc olympique, mais deux autobus (nos 100 et 57) relient le Parc olympique et le port d’Adler. À Sotchi, les spectacles pourront se rendre à pied (15 minutes) ou en autobus à la station principale.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q25" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Avez-vous des renseignements sur le système de transport par téléférique (entre les sites en altitude)?</a></h4></div><div id="q25" class="panel-collapse collapse"><div class="panel-body">Le téléférique relie les stations en altitude et les sites de compétition. Il ouvre trois heures avant le début des épreuves et ferme trois heures après la fin de celles-ci. Pour prendre le téléférique, il faut avoir en sa possession un billet valide pour une épreuve ayant lieu sur le site en question et le jour même. Il n’est pas possible de se procurer des billets de téléférique.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q26" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Le Comité olympique canadien offrira-t-il une navette entre l’aéroport et les bateaux de croisière ou les hôtels d’Adler et Sotchi?</a></h4></div><div id="q26" class="panel-collapse collapse"><div class="panel-body">La famille et les amis doivent communiquer avec le Comité olympique canadien pour réserver une voiture ou le service de ramassage à l’aéroport si vous êtes intéressé. Le transport sera à vos frais, mais nous nous occuperons de la réservation en raison de la barrière linguistique. Nous vous ferons parvenir tous les détails bientôt. Si vous ne voulez pas payer pour une voiture, des agents responsables de la famille et des amis seront à l’aéroport pour vous aider à trouver un taxi pour vous rendre à votre hôtel. Nous pouvons fournir une estimation des coûts de taxis selon l’emplacement des hôtels.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q27" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Combien coûte le service de ramassage à l’aéroport?</a></h4></div><div id="q27" class="panel-collapse collapse"><div class="panel-body">Les renseignements seront confirmés et communiqués sous peu.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q28" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Combien coûte un taxi?</a></h4></div><div id="q28" class="panel-collapse collapse"><div class="panel-body">En général, les prix sont raisonnables et sont semblables à ceux en vigueur au Canada. Si le chauffeur ne possède pas de compteur, assurez-vous de demander le prix avant de monter dans le taxi.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q29" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quel est le meilleur itinéraire pour se rendre à Sotchi?</a></h4></div><div id="q29" class="panel-collapse collapse"><div class="panel-body">D’après notre expérience, les deux meilleures correspondances pour les vols vers Sotchi sont Istanbul et Moscou. Il y a plus de choix en passant par Moscou que par Istanbul. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q30" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Qu’est-ce qui se passera lorsque j’arriverai?</a></h4></div><div id="q30" class="panel-collapse collapse"><div class="panel-body">Il faut savoir qu’à partir du votre avion atterrira, cela vous prendra près de deux heures pour vous rendre jusqu’à l’aire des arrivées. Le passage aux douanes russes est un processus lent, et dès que vous récupérerez vos bagages, tout ce qui laissera l’aéroport devra être scanné. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q31" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Pourrai-je louer une voiture?</a></h4></div><div id="q31" class="panel-collapse collapse"><div class="panel-body">Nous ne vous conseillons pas de louer de véhicule. L’accès sera limité pour les véhicules ne possédant pas de laissez-passer olympique. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q32" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Comment pourrai-je me rendre à mes compétitions?</a></h4></div><div id="q32" class="panel-collapse collapse"><div class="panel-body">Si vos épreuves se déroulent à Adler, vous pouvez prendre soit l’autobus local, soit un taxi ou encore vous pouvez prendre le train olympique. Si vous avez des billets pour des compétitions dans les montagnes, le seul moyen de vous y rendre est le train. Vous devriez prévoir une heure pour vous rendre dans les montagnes.</div></div></div>
</div><div id="visa">
    <h2>APPLICATION DE VISA RUSSE</h2>


<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q33" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Si vous changez d’hôtels pendant votre séjour, est-il nécessaire d’obtenir une lettre d’invitation et un numéro d’inscription dans tous les hôtels pour faire votre demande de visa (un pour chaque hôtel) ou le code d’un seul hôtel est suffisant?</a></h4></div><div id="q33" class="panel-collapse collapse"><div class="panel-body">CIBT Visas nous indique que si vous changez d’hôtel pendant votre séjour, vous devez utiliser le code du premier hôtel où vous logerez.</div></div></div>
</div><div id="misc">
    <h2>DIVERS / AUTRES</h2>

<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q34" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quelle est la monnaie utilisée en Russie?</a></h4></div><div id="q34" class="panel-collapse collapse"><div class="panel-body">La monnaie utilisée en Russie est le rouble (RUB). Récemment, le taux de change était de 31,5060, soit un dollar canadien pour 31,51 roubles. Vous trouverez le taux de change le plus récent au www.bankofcanada.ca</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q35" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Aurai-je besoin d’un adaptateur ou d’un convertisseur pour les appareils électroniques?</a></h4></div><div id="q35" class="panel-collapse collapse"><div class="panel-body">En Russie, on utilise du courant 220 volts avec 50 cycles et des prises de courant électrique de type européen.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q36" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quel est le fuseau horaire à Sotchi?</a></h4></div><div id="q36" class="panel-collapse collapse"><div class="panel-body">La ville de Sotchi en Russie est située dans le fuseau horaire de Moscou, que l’on désigne par MSK (heure normale de Moscou). Il devance de 4 heures le temps universel coordonné (UTC/GMT).<br/><br/>HNR (heure normale des Rocheuses) + 11 heures en hiver<br/>HNE (heure normale de l’Est) + 9 heures en hiver<br/>HNP (heure normale du Pacifique) + 12 heures en hiver<br/>HNA (heure normale de l’Atlantique) + 8 heures en hiver</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q37" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Combien dois-je donner comme pourboire à un serveur en Russie?</a></h4></div><div id="q37" class="panel-collapse collapse"><div class="panel-body">En général, un taux de 10 à 15 % est accepté comme pourboire pour les serveurs dans les restaurants et les préposés aux vestiaires et aux bagages. S’il n’y a pas de serveurs dans un restaurant ou un bar, il n’est pas nécessaire de laisser un pourboire. <br/>Vous pouvez donner aux chauffeurs ou aux guides jusqu’à l’équivalent de 10 $ par jour en roubles, et au personnel d’entretien ménager l’équivalent de 1 $ ou 2 $ en roubles que vous laisserez tous les jours dans un cendrier. <br/>Vérifiez votre facture pour voir si le service n’est pas déjà inclus.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q38" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">L’eau est-elle potable en Russie?</a></h4></div><div id="q38" class="panel-collapse collapse"><div class="panel-body">Il est recommandé de ne boire que de l’eau embouteillée.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q39" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quel est l’âge légal pour boire en Russie?</a></h4></div><div id="q39" class="panel-collapse collapse"><div class="panel-body">L’âge légal pour boire dans la Fédération de Russie est 18 ans.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q40" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Où se trouve l’Ambassade du Canada en Russie?</a></h4></div><div id="q40" class="panel-collapse collapse"><div class="panel-body">L’Ambassade du Canada est située à Moscou :<br/><br/>23 Starokonyushenny Pereulok<br/>Moscow 119002 Russia<br/>(près de la rue Old Arbat, Metro : Kropotkinskaya)<br/>Tél: + 7 (495) 925-6000<br/>Téléc: + 7 (495) 925-6025<br/>Courriel: mosco@international.gc.ca</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q41" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Comment sera la température à Sotchi durant les mois de février et mars?</a></h4></div><div id="q41" class="panel-collapse collapse"><div class="panel-body">Il fait en général 8 à 10 degrés en février et en mars. <br/>À Sotchi, au niveau de la mer, les températures sont presque toujours positives. <br/>Les montagnes s’élèvent majestueusement à plus de 2000 m sur 35 km de terre, ce qui donne de très bonnes conditions de neige.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q42" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Comment est la nourriture?</a></h4></div><div id="q42" class="panel-collapse collapse"><div class="panel-body">Vous aurez un très grand choix de mets russes et internationaux. Parmi les mets traditionnels russes, nous vous conseillons d’essayer le borchtch (soupe de betteraves), le shchi (soupe de choux) et l’ukha (soupe de poisson). L’agneau est très populaire et se cuisine sous différentes formes. Il y a un McDonalds à Sotchi et un à Adler (sur la promenade). Il y a également un restaurant Subway à Sotchi et un autre à Adler, tous les deux situés sur le front de mer.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q43" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Où est situé Adler?</a></h4></div><div id="q43" class="panel-collapse collapse"><div class="panel-body">Adler est situé à 35 km de Sotchi. Le seul aéroport par lequel vous arriverez se trouve également à Adler. Le centre de transport des Jeux olympiques est également situé à Adler. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q44" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Qu’est-ce qui se trouve à Adler?</a></h4></div><div id="q44" class="panel-collapse collapse"><div class="panel-body">Adler comprend nombreux restaurants agréables, une promenade de bois le long de la mer Noire pour prendre des marches, un marché où vous pourrez vous procurer des aliments frais, et tout se trouve à distance de marche. Vous pouvez même vous rendre au Parc olympique à pied, car il n’est qu’à 7 ou 8 kilomètres. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q45" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Y aura-t-il des difficultés avec la langue?</a></h4></div><div id="q45" class="panel-collapse collapse"><div class="panel-body">Il y a très peu de magasins de détail et de restaurants où le personnel parle anglais. Plusieurs restaurants offrent maintenant un menu en anglais. Nous pensons qu’une fois dans le parc olympique et dans les installations olympiques, on parlera anglais. Si vous avez un iPhone, l’une des meilleures applications est Speak Easy Russian. </div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q46" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">À quel endroit auront lieu les remises de médailles? Le public pourra-t-il y assister ou sera-t-il nécessaire d’avoir un billet et un laissez-passer spectateur?</a></h4></div><div id="q46" class="panel-collapse collapse"><div class="panel-body">La Place des médailles est située à l’intérieur du Parc olympique. Il s’agit d’un site ouvert et gratuit auquel peuvent accéder tous les spectateurs présents dans le Parc olympique. Nous ne savons cependant pas s’il sera nécessaire d’avoir un billet pour assister aux remises des médailles. Des célébrations des médaillés auront lieu à la Maison olympique du Canada peu après les remises de médailles officielles ou le lendemain, tout dépendant de ce qui convient le mieux aux médaillés et à leur fédération.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q47" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quelle distance sépare le chalet en montagne de la gare?</a></h4></div><div id="q47" class="panel-collapse collapse"><div class="panel-body">Le chalet en montagne se trouve à environ 10 à 15 minutes de marche de la gare de Krasnaya Polyana.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q48" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Y aura-t-il des bénévoles anglophones en poste aux aéroports de Moscou?</a></h4></div><div id="q48" class="panel-collapse collapse"><div class="panel-body">Tous les aéroports de Moscou seront dotés de comptoirs de renseignements et de signalétique en anglais. Il sera également possible d’obtenir de l’aide en anglais (bénévoles).</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q49" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Que dois-je apporter à un magasin Megafon pour obtenir ma carte SIM?</a></h4></div><div id="q49" class="panel-collapse collapse"><div class="panel-body">Vous aurez besoin de votre passeport et de votre carte de migration (un papier blanc que vous recevrez dans l’avion ou avant de passer à la douane en Russie). Le COC va également vous faire parvenir une liste de contrôle (en russe) pour vous aider. Si vous prévoyez acheter plusieurs cartes SIM, vous devrez également signer un document d’autorisation qui permet de faire en sorte que plusieurs cartes SIM soient associées à votre nom. Nous vous recommandons de vous rendre au magasin Megafon avec une personne qui parle russe.</div></div></div>
<div class="panel panel-default"><div class="panel-heading"><h4><a href="#q50" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Y a-t-il un endroit où l’on peut entreposer nos bagages aux gares ou à l’aéroport?</a></h4></div><div id="q50" class="panel-collapse collapse"><div class="panel-body">Oui, il y a une zone d’entreposage des bagages au niveau inférieur (arrivées) de l’aéroport.  <br /><br /><img src="http://family.olympic.ca/content/coc-sochi-arrival-sign.jpg" class="img-responsive thumbnail" /></div></div></div>
</div>

                            </div>
                        @*<div class="col-sm-12">
                            <h1 class="title">Foire aux questions</h1>
                            <!-- -->
                            
                            
                            
                            <!-- -->
                            <br />
                           <div class="panel-group accordion accordion-bordered" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="#p1" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quelle est la monnaie utilisée en Russie?
            </a></h4>
        </div>
        <div id="p1" class="panel-collapse collapse">
            <div class="panel-body">
                La monnaie utilisée en Russie est le rouble (RUB). Récemment, le taux de change était de 31,5060, soit un dollar canadien pour 31,51 roubles. Vous trouverez le taux de change le plus récent au www.bankofcanada.ca
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="#p2" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Aurai-je besoin d’un adaptateur ou d’un convertisseur pour les appareils électroniques?
            </a></h4>
        </div>
        <div id="p2" class="panel-collapse collapse">
            <div class="panel-body">
                En Russie, on utilise du courant 220 volts avec 50 cycles et des prises de courant électrique de type européen.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="#p3" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quel est le fuseau horaire à Sotchi?
            </a></h4>
        </div>
        <div id="p3" class="panel-collapse collapse">
            <div class="panel-body">
                La ville de Sotchi en Russie est située dans le fuseau horaire de Moscou, que l’on désigne par MSK (heure normale de Moscou). Il devance de 4 heures le temps universel coordonné (UTC/GMT).
                <ul class="plain-list">
                    <li>HNR (heure normale des Rocheuses) + 11 heures en hiver

</li><li>HNE (heure normale de l’Est) + 9 heures en hiver

</li><li>HNP (heure normale du Pacifique) + 12 heures en hiver

</li><li>HNA (heure normale de l’Atlantique) + 8 heures en hiver
</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="#p4" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Combien dois-je donner comme pourboire à un serveur en Russie?
            </a></h4>
        </div>
        <div id="p4" class="panel-collapse collapse">
            <div class="panel-body">
                En général, un taux de 10 à 15 % est accepté comme pourboire pour les serveurs dans les restaurants et les préposés aux vestiaires et aux bagages. S’il n’y a pas de serveurs dans un restaurant ou un bar, il n’est pas nécessaire de laisser un pourboire. 
<br /><br />Vous pouvez donner aux chauffeurs ou aux guides jusqu’à l’équivalent de 10 $ par jour en roubles, et au personnel d’entretien ménager l’équivalent de 1 $ ou 2 $ en roubles que vous laisserez tous les jours dans un cendrier.
<br /><br />Vérifiez votre facture pour voir si le service n’est pas déjà inclus.


            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="#p5" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">L’eau est-elle potable en Russie?
            </a></h4>
        </div>
        <div id="p5" class="panel-collapse collapse">
            <div class="panel-body">
                Il est recommandé de ne boire que de l’eau embouteillée.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="#p6" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quel est l’âge légal pour boire en Russie?
            </a></h4>
        </div>
        <div id="p6" class="panel-collapse collapse">
            <div class="panel-body">
L’âge légal pour boire dans la Fédération de Russie est 18 ans.            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="#p7" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Où se trouve l’Ambassade du Canada en Russie?
            </a></h4>
        </div>
        <div id="p7" class="panel-collapse collapse">
            <div class="panel-body">
                <address>
                    <strong>L’Ambassade du Canada est située à Moscou :</strong><br />
                    <br />
                    23 Starokonyushenny Pereulok<br />
                    Moscow 119002 Russia<br />
                  (près de la rue Old Arbat, Metro : Kropotkinskaya)<br />
                    Tél: + 7 (495) 925-6000<br />
                    Téléc: + 7 (495) 925-6025<br />
                    Courriel: <a href="mailto:mosco@international.gc.ca">mosco@international.gc.ca</a><br />
                </address>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="#p8" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Comment sera la température à Sotchi durant les mois de février et mars?
            </a></h4>
        </div>
        <div id="p8" class="panel-collapse collapse">
            <div class="panel-body">
               Il fait en général 8 à 10 degrés en février et en mars.
<br /><br />À Sotchi, au niveau de la mer, les températures sont presque toujours positives. 
<br /><br />Les montagnes s’élèvent majestueusement à plus de 2000 m sur 35 km de terre, ce qui donne de très bonnes conditions de neige.

            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="#p10" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Comment est la nourriture?
            </a></h4>
        </div>
        <div id="p10" class="panel-collapse collapse">
            <div class="panel-body">
                Vous aurez un très grand choix de mets russes et internationaux. Parmi les mets traditionnels russes, nous vous conseillons d’essayer le borchtch (soupe de betteraves), le shchi (soupe de choux) et l’ukha (soupe de poisson). L’agneau est très populaire et se cuisine sous différentes formes. Il y a un McDonalds à Sotchi et un à Adler (sur la promenade). Il y a également un restaurant Subway à Sotchi et un autre à Adler, tous les deux situés sur le front de mer.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="#p11" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">En cas d’urgence, quel numéro dois-je appeler?</a></h4>
        </div>
        <div id="p11" class="panel-collapse collapse">
            <div class="panel-body">
               L’hôpital est à Adler – composez le 03 (c’est comme le 911 au Canada pour une ambulance) ou le (862) 40-06-73 à partir du cellulaire 
<br /><br />Station de police d’Adler : Composez le 02 ou le (862) 246-60-00 à partir d’un téléphone cellulaire 
<br /><br />Caserne de pompiers : Composez le 01 ou le (862) 240-01-77 ou le 240-07-52 à partir d’un téléphone cellulaire. 
<br /><br />Centre dentaire à Adler : 235-27-27 (ligne d’urgence)
<br /><br />Ambassade du Canada en Russie : 810-800-201-41012

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="#p12" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Où devrai-je loger?</a></h4>
        </div>
        <div id="p12" class="panel-collapse collapse">
            <div class="panel-body">
                <br />
               Même s’il s’agit des Jeux de Sotchi, il n’y a aucun site olympique à Sotchi. Le Parc olympique, qui comprend les sites des épreuves sur glace, le village des athlètes et le centre des médias sont situés à Adler et certains sites sont à Krasnaya Polyana qui est plus proche d’Adler que de Sotchi.
                                <br />
                <br />
            </div>
        </div></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><a href="#p13" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Où est situé Adler?  </a></h4>
            </div>
            <div id="p13" class="panel-collapse collapse">
                <div class="panel-body">
                    <br />
                    Adler est situé à 35 km de Sotchi. Le seul aéroport par lequel vous arriverez se trouve également à Adler. Le centre de transport des Jeux olympiques est également situé à Adler.
                                        <br />
                    <br />
                </div>
            </div></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><a href="#p14" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"> Qu’est-ce qui se trouve à Adler?</a></h4>
                </div>
                <div id="p14" class="panel-collapse collapse">
                    <div class="panel-body">
                        <br />
                       Adler comprend nombreux restaurants agréables, une promenade de bois le long de la mer Noire pour prendre des marches, un marché où vous pourrez vous procurer des aliments frais, et tout se trouve à distance de marche. Vous pouvez même vous rendre au Parc olympique à pied, car il n’est qu’à 7 ou 8 kilomètres.
                                                <br />
                        <br />
                    </div>
                </div></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a href="#p15" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quels sont mes choix d’hébergement?  </a></h4>
                    </div>
                    <div id="p15" class="panel-collapse collapse">
                        <div class="panel-body">
                            <br />Les hébergements disponibles se trouvent pour la plupart dans des hôtels ou à bord de paquebots de croisière. Contrairement aux éditions précédentes des Jeux olympiques, très peu de résidants ont souhaité louer leur maison. 
                           
                                                        <br />
                            <br />
                        </div>
                    </div></div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><a href="#p16" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quel est le standard des chambres d’hôtel?</a></h4>
                        </div>
                        <div id="p16" class="panel-collapse collapse">
                            <div class="panel-body">
                                <br />
                                Si vous venez de l’Europe ou de l’Amérique du Nord, ne vous attendez pas à trouver des hôtels 5 étoiles, ils ont tous été réservés par le comité d’organisation. La plupart des chambres d’hôtel disponibles se trouvent dans des petits hôtels de moins de 50 chambres. Ils sont en général gérés par les familles.
                                                                <br />
                                <br />
                            </div>
                        </div></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4><a href="#p17" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Quel est le meilleur itinéraire pour se rendre à Sotchi?</a></h4>
                            </div>
                            <div id="p17" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <br />
                                    D’après notre expérience, les deux meilleures correspondances pour les vols vers Sotchi sont Istanbul et Moscou. Il y a plus de choix en passant par Moscou que par Istanbul.  
                                                                        <br />
                                    <br />
                                </div>
                            </div></div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4><a href="#p18" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Y aura-t-il des difficultés avec la langue? </a></h4>
                                </div>
                                <div id="p18" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <br />
                                        Il y a très peu de magasins de détail et de restaurants où le personnel parle anglais. Plusieurs restaurants offrent maintenant un menu en anglais. Nous pensons qu’une fois dans le parc olympique et dans les installations olympiques, on parlera anglais. Si vous avez un iPhone, l’une des meilleures applications est Speak Easy Russian.
                                                                                <br />
                                        <br />
                                    </div>
                                </div></div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4><a href="#p19" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Qu’est-ce qui se passera lorsque j’arriverai?</a></h4>
                                    </div>
                                    <div id="p19" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <br />
                                           Il faut savoir qu’à partir du votre avion atterrira, cela vous prendra près de deux heures pour vous rendre jusqu’à l’aire des arrivées. Le passage aux douanes russes est un processus lent, et dès que vous récupérerez vos bagages, tout ce qui laissera l’aéroport devra être scanné.
                                                                                        <br />
                                            <br />
                                        </div>
                                    </div></div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4><a href="#p20" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Pourrai-je louer une voiture?</a></h4>
                                        </div>
                                        <div id="p20" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <br />
                                                Nous ne vous conseillons pas de louer de véhicule. L’accès sera limité pour les véhicules ne possédant pas de laissez-passer olympique. 
                                                                                                <br />
                                                <br />
                                            </div>
                                        </div></div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4><a href="#p21" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Comment pourrai-je me rendre à mes compétitions?</a></h4>
                                            </div>
                                            <div id="p21" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <br />
                                                   Si vos épreuves se déroulent à Adler, vous pouvez prendre soit l’autobus local, soit un taxi ou encore vous pouvez prendre le train olympique. Si vous avez des billets pour des compétitions dans les montagnes, le seul moyen de vous y rendre est le train. Vous devriez prévoir une heure pour vous rendre dans les montagnes.
                                                </div>



</div></div></div>

                                            


                            </div>*@</div>
            </div>
        </div>
        <footer id="footer">
            <div id="footer-main">
                <div class="container">
                    <div class="row">
                        <!-- place for info boxes (see below) -->
                    </div>
                </div>
            </div>

            <!-- copyright section -->
            <div id="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 clearfix">

                            <!-- copyright -->
                            <p class="copyright">Copyright &copy; 2013 Comité olympique canadien</p>

                            <!-- optional place for links -->
                            <div class="links">
                                <a class="btn btn-circle btn-medium-light btn-sm" href="#">
                                    <i class="fa-icon-globe text-dark"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <!-- / javascripts -->
    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/jednotka.js"></script>
</body>
</html>
