<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
<!-- <![endif] -->
<head>
    <title>Canada Olympic House</title>
    <meta content='<!-- page keywords -->' name='keywords'>
    <meta content='<!-- page description -->' name='description'>
    <meta content='<!-- page author -->' name='author'>
    <!-- instructions for robots -->
    <meta content='NOINDEX, NOFOLLOW' name='robots'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <!-- this enables responsive features in browser -->
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <!-- if you are going to support IE -->
    <!--[if IE]> <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> <![endif]-->
    <!-- / icons -->
    <link href='/content/meta_icons/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='/content/images/meta_icons/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
    <!-- / stylesheets -->
    <link href="/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/Content/jednotka_salmon.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/coh.css" rel="stylesheet" />
    <!-- if you are going to support IE8 -->
    <!--[if lt IE 9]>
      <script src="/scripts/ie/html5shiv.js" type="text/javascript"></script>
      <script src="/scripts/ie/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="boxed">
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <nav class="navbar navbar-default" id="nav" role="navigation">
                    <div class="navbar-header">
                        <!-- navigation toggler on small screens -->
                        <button class="navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="" style="color: #fff;">
                            <img src="/Content/images/coc-brand-x.png" style="max-height: 70px;" />
                        </a>
                    </div>
                    <!-- navigation -->
                    <div class="collapse navbar-collapse navbar-header-collapse">
                                       <ul class="nav navbar-nav navbar-right">
                          <li><a href="/fr"><span>Accueil</span></a></li>
                            <li ><a href="/fr/sochi_101"><span>Sotchi 101</span></a></li>
                            <li class="active"><a href="/fr/travel"><span>Pour se rendre aux jeux</span></a></li>
                            <li><a href="/fr/games"><span>Logistique aux jeux</span></a></li>
                            <li><a href="/fr/faq"><span>FAQ</span></a></li>
                            <li><a href="/fr/links"><span>Liens utiles</span></a></li>
                            <li><a href="/fr/contact"><span>Contactez-nous</span></a></li>
                            <li><a href="/en/"><span>English</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div id="main">
            <div id="main-content">
                <div class="container">
                    <!-- your content with grid system -->                  
                    <div class="row text-box">
                        <div class="col-sm-12">
                            <h2>Liste de contr&ocirc;le</h2>
    <p><a href="/pdf/coc-sochi_checklist-fr.pdf" target="_blank">Cliquez ici</a> pour visualiser la liste de contrôle du COC pour vous assurer de ne rien oublier lorsque vous préparerez votre voyage à Sotchi..</p>
  
    
    <h2>Visa Russe</h2>
  <div style="border:1px solid red; padding:15px; margin-bottom:20px;">
      <p style="color:red; font-weight:bold;">Mise à jour importante dans les politiques de visa pour les spectateurs de Sotchi 2014
        </p><p>À partir du 1er décembre 2013, les conditions suivantes s’appliqueront aux visas touristiques de spectateurs des Jeux Olympiques d’hiver de 2014 à Sotchi.
</p><p>Les visiteurs qui ont l’intention de voir des événements sportifs ou les cérémonies d’ouverture ou de clôture des Jeux olympiques doivent soumettre un formulaire standard de confirmation touristique émis par une agence de voyage autorisée russe qui doit comporter la note «Сочи 2014 - зритель» (Sochi 2014 - spectateur).
</p><p>Avec cette confirmation, le demandeur doit également présenter l’un des documents suivants:

            <ul>
                <li><a href="http://www.rusembassy.ca/sites/default/files/Opening_Ceremony.jpg" target="_blank">un billet d’entrée pour l’événement;</a>
                </li><li>une confirmation électronique du billet acheté au Comité d’Organisation de Sotchi 2014,<a href="http://www.toronto.mid.ru/docs/the_list_of_countries_with_appointed_atrs.doc" target="_blank">ou par une agence de billetterie officielle à l’étranger</a> ; 
                </li><li>ou la <a href="http://www.rusembassy.ca/sites/default/files/Spectator_Pass.jpg">carte d’enregistrement - laissez-passer de spectateur</a></li>
            </ul>
            Les autres documents requis pour la demande de visa reste les mêmes.
            </p>
        <a href="http://www.rusembassy.ca/node/57">Cliquez ici pour de plus amples informations.</a>
        </div>  
        <p>Les membres de la famille et les amis qui voyagent en Russie pour les Jeux doivent présenter une demande de visa de touriste. Consultez l’information affichée sur le site Web du <a href="http://www.canada-ils.com/main.php" target="_blank">Centre de demande de visa de Russie</a> qui est la plus à jour.</p>
    
      <address>
        <strong>Centre de visa russe à Ottawa</strong><br />
        Bureau 505, 294, rue Albert, Ottawa (Ontario) K1P 6E6<br />
Tél. : 613-670-1125<br />
Téléc. : 613-670-1126<br />

        Courriel: <a href="mailto:info-ottawa@canada-ils.com">info-ottawa@canada-ils.com</a><br />
       Heures d’ouverture : Du lundi au vendredi de 9 h à 12 h 30 et de 14 h à 16 h 30<br />
    </address>
    <address>
        <strong>Centre de visa russe à Toronto</strong><br />
       Suite 200, 60 St. Clair Ave East, Toronto (Ontario) M4T 1N5<br />
Tél. : 416-479-7386<br />
Téléc. : 416-479-7388<br />

        Courriel: <a href="mailto:info-toronto@canada-ils.com">info-toronto@canada-ils.com</a><br />
        Heures d’ouverture : Du lundi au vendredi de 9 h à 12 h 30 et de 14 h à 16 h 30 <br />
    </address>
    <address>
        <strong>Centre de visa russe à Montréal</strong><br />
        Bureau 718, 1010, rue Sherbrooke Ouest, Montréal (Québec) H3A 2R7<br />
Tél. : 514-218-5380<br />
Téléc. : 514-218-5381<br />

        Courriel: <a href="mailto:info-montreal@canada-ils.com">info-montreal@canada-ils.com</a><br />
        Heures d’ouverture : Du lundi au vendredi de 9 h à 12 h 30 et de 14 h à 16 h 30
        <br />
    </address>

    <p>
        Ambassade de la Fédération de Russie au Canada: <a href="http://www.rusembassy.ca/">http://www.rusembassy.ca/</a>
    </p>
    <p>
        Embassy Link: <a href="http://www.embassylink.ca">http://www.embassylink.ca</a>
    </p>
   <p>
        Invisa Logistic Services: <a href="http://www.canada-ils.com/">http://www.canada-ils.com/</a>
    </p>
       
   
    <h2>Laissez-passer de spectateur</h2>
    <ul class="plain-list">
        <li>Tous les détenteurs de billets non accrédités devront faire une demande de laissez-passer de spectateur qu’ils devront valider dans le but d’accéder aux sites.
</li><li>Pour entrer dans un site, il faut présenter le laissez-passer de spectateur avec un billet.
</li><li>La demande de laissez-passer de spectateur peut être déposée avant ou pendant les Jeux.
</li><li>Il y aura de nombreux centres de validation à Sotchi.
</li><li>CoSport fournira un code spécifique que les détenteurs de billets pourront utiliser pour enregistrer leur laissez-passer.
</li><li>Il y aura un numéro d’assistance avec service en anglais pour les questions relatives au site d’enregistrement.
</li><li>Vous pourrez obtenir votre laissez-passer de spectateur sur place. Le processus est assez rapide en raison de l’enquête de sécurité effectuée lors du traitement de la demande de visa. Cela signifie que le laissez-passer de spectateur n’est pas nécessaire pour l’obtention du visa.
</li>
        
    </ul>
    <h2>Carte de migration
        </h2>
    <p>
        Afin d’entrer en Russie, vous devez présenter votre passeport et une carte de migration remplie.
</p><p>
Les cartes de migration seront distribuées à bord de l’avion ou du train avant votre arrivée ou directement à votre port d’entrée en Russie. Elles sont également disponibles à l’aéroport, avant le contrôle des passeports.
</p><p>
Vous devez généralement remplir votre carte de migration avant de vous présenter au contrôle des passeports. Veuillez noter que dans certains cas, ils le rempliront pour vous au point de contrôle des passeports.
    </p><p>
La carte de migration doit être remplie par chaque visiteur international, quel que soit son âge.
        </p><p>
Veuillez vérifier que la date qui a été étampée sur votre carte de migration (et sur votre passeport) est exacte.
            </p><p>
Assurez-vous de garder votre carte de migration en sécurité et de ne pas la perdre, car il faudra la remettre lorsque vous quitterez la Russie à la fin de votre séjour.
                </p><p>
Si la carte de migration est égarée ou abimée, veuillez en informer Sotchi 2014 ou les autorités migratoires russes le même jour afin qu’une nouvelle carte soit émise. Dans certains cas, le personnel de l'hôtel peut vous aider à effectuer ces démarches.

    </p>
            <p><a href="/pdf/coc-sample_migration_card_fr.pdf" target="_blank">Cliquez ici pour un exemple de Carte de migration.</a></p>

    <h2>Quoi apporter</h2>
    Renseignements importants<br /><br />
    <ul class="plain-list">

        <li>La franchise de bagages permise est de 23 kg / 50 lb (à vérifier auprès de votre compagnie aérienne);
</li><li>Apportez une paire de chaussures ou de bottes confortables;
</li><li>Apportez des vêtements de rechange et les articles de toilette essentiels dans votre bagage de cabine.
</li>
    </ul><br />
    Autres articles pratiques facultatifs :<br /><br />
    <ul class="plain-list">

        <li>Besoins alimentaires particuliers 
</li><li>Si vous avez des allergies, des besoins médicaux ou nutritionnels, il est utile d’avoir sur vous une carte l’expliquant en russe 
</li><li>Oreiller – si vous avez un oreiller dont vous ne pouvez vous passer
</li><li>Appareil-photo
</li><li>Vêtements de l’équipe HBC à porter lors des événements.
</li><li>Sandales ou pantoufles pour l’intérieur
</li><li>Réveille-matin à piles
</li><li>Vos articles de toilette préférés
</li><li>Vos médicaments et vitamines (dans leur emballage original)
</li><li>Tapis de bain du magasin à un dollar
</li><li>Paire de lunettes ou des lentilles cornéennes de rechange
</li><li>Lunettes de soleil 
</li><li>Adaptateur européen, convertisseur, barre multiprise
</li><li>Monnaie locale (roubles russes)
</li>

    </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div id="footer-main">
                <div class="container">
                    <div class="row">
                        <!-- place for info boxes (see below) -->
                    </div>
                </div>
            </div>

            <!-- copyright section -->
            <div id="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 clearfix">

                            <!-- copyright -->
                            <p class="copyright">Copyright &copy; 2013 Comité olympique canadien</p>

                            <!-- optional place for links -->
                            <div class="links">
                                <a class="btn btn-circle btn-medium-light btn-sm" href="#">
                                    <i class="fa-icon-globe text-dark"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <!-- / javascripts -->
    <script src="/scripts/jquery-1.9.1.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/jednotka.js"></script>
</body>
</html>
