<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
<!-- <![endif] -->
<head>
    <title>Canada Olympic House</title>
    <meta content='<!-- page keywords -->' name='keywords'>
    <meta content='<!-- page description -->' name='description'>
    <meta content='<!-- page author -->' name='author'>
    <!-- instructions for robots -->
    <meta content='NOINDEX, NOFOLLOW' name='robots'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <!-- this enables responsive features in browser -->
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <!-- if you are going to support IE -->
    <!--[if IE]> <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> <![endif]-->
    <!-- / icons -->
    <link href='/content/meta_icons/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='/content/images/meta_icons/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
    <!-- / stylesheets -->
    <link href="/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/Content/jednotka_salmon.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/coh.css" rel="stylesheet" />
    <!-- if you are going to support IE8 -->
    <!--[if lt IE 9]>
      <script src="/scripts/ie/html5shiv.js" type="text/javascript"></script>
      <script src="/scripts/ie/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="boxed">
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <nav class="navbar navbar-default" id="nav" role="navigation">
                    <div class="navbar-header">
                        <!-- navigation toggler on small screens -->
                        <button class="navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="" style="color: #fff;">
                            <img src="/Content/images/coc-brand-x.png" style="max-height: 70px;" />
                        </a>
                    </div>
                    <!-- navigation -->
                    <div class="collapse navbar-collapse navbar-header-collapse">
                          <ul class="nav navbar-nav navbar-right">
                            <li><a href="/en"><span>Home</span></a></li>
                            <li><a href="/en/sochi_101"><span>Sochi 101</span></a></li>
                            <li><a href="/en/travel"><span>Getting to the Games</span></a></li>
                            <li><a href="/en/games"><span>At Games</span></a></li>
                            <li  class="active"><a href="/en/faq"><span>FAQ</span></a></li>
                            <li><a href="/en/links"><span>Resources</span></a></li>
                            <li><a href="/en/contact"><span>Contact</span></a></li>
                            <li><a href="/fr/"><span>Fran&ccedil;ais</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div id="main">
            <div id="main-content">
                <div class="container">
                    <!-- your content with grid system -->
                    <div class="row text-box">
                        
                        <div class="col-sm-12">
                            <h1 class="title">At Games Logistics</h1>
                            <h2>Accommodation</h2>
    <p>
        Accommodations in Sochi have been quite difficult to source, are generally of a lower standard than what we are accustomed to in Canada, and can be very expensive.
    </p>
    <p>
        CoSport/Jet Set is our official partner of Olympic tickets and accommodation packages. They will be offering accommodation packages for Sochi, however we have no indication of timelines or pricing. We do know that they will be targeting 3-Star and 4-Star properties. They will let COC know when they are ready to offer this by invitation only, at which point we will update family and friends. 
    </p>
    <p>
        Several accommodation brokers in Sochi have reserved blocks of rooms at various hotels to sell off to the general public. One company that the COC has worked with to book our own rooming needs is Trekking Hellas. Although they are not an official partner of the COC, they have been helpful with this process. Below you will find their contact information. 
    </p>
    <address>
        <strong>Trekking Hellas</strong><br />
        Contact Person: George Kopitsas<br />
        <a href="mailto:g.kopitsas@trekking.gr">g.kopitsas@trekking.gr</a><br />
        +30 2103310323<br />
        <a href="http://www.sochi2014accommodation.com/">http://www.sochi2014accommodation.com/</a>
    </address>
    <p>Cruise Ships have also been identified as good options for accommodation in Adler and Sochi. Please refer to the following links for additional information:</p>
    <p>
        <a href="http://www.select-a-room.com/hotel/russia/adler/louis-olympia-cruise-liner---sochi-2014">Louis Olympia, Adler</a><br />
    <a href="http://www.select-a-room.com/hotel/russia/adler/grand-holiday-cruise-liner---sochi-2014">Grand Holiday, Adler</a><br />
<a href="http://www.select-a-room.com/hotel/russia/sochi/princess-anastasia-cruise-liner---sochi-2014">Princess Anastasia, Sochi</a><br />
<a href="http://www.select-a-room.com/hotel/russia/sochi/norwegian-jade-cruise-liner---sochi-2014">Norwegian Jade, Sochi</a><br />
<a href="http://www.select-a-room.com/hotel/russia/sochi/princess-maria-cruise-ship---sochi-2014">Princess Maria, Sochi</a>

    </p>
    
    <h2>Ground Transportation</h2>
    <p>The Sochi Public Transportation Network, specifically, the Train Network, will be your most reliable and efficient method of transportation during the Games .
    </p><p>
    These systems are outside of the protected bubble-to-bubble Olympic system and part of the public domain. Unaccredited personnel will require passes to access this mode of transportation. 
    </p>
    <ul class="plain-list">
        <li><a href="/pdf/coc-railway_network_map.pdf" target="_blank">Sochi 2014 - Railway Network Map </a></li>
        <li><a href="/pdf/coc-railway_network_timing.pdf" target="_blank">Sochi 2014 - Railway Routes Timing</a></li>
        <li><a href="/pdf/coc-cable_ways_network_map.pdf" target="_blank">Cable Ways Network: Accessing the Cable Way network will be required in order to access the Endurance Village and the Sport Venues in the Mountain Cluster.</a></li>
        
        <li><a href="/pdf/coc-cable_ways_network_operations.pdf" target="_blank">Sochi 2014 Cableway Network Operations</a></li>
        <li><a href="/pdf/coc-travel_time_between_hubs.pdf" target="_blank">Travel time between Transport Hubs</a></li>

        
        <li><a href="/pdf/coc-bus_routes_map.pdf" target="_blank">Sochi 2014 – Bus Routes Map</a></li>
        <li><a href="/pdf/coc-bus_routes_timing.pdf" target="_blank">Sochi 2014 – Bus Routes Timing </a></li>
    </ul>
 
                <h4 style="padding-top:10px;">Olympic Lanes</h4>
                <ul class="plain-list">
                    <li>Olympic Lanes will be open for accredited vehicles only. They will be identified with signs. Unaccredited vehicles cannot drive in these lanes for the duration of the Games.
                    </li>
                    <li>24 hours a day, 7 days a week
                    </li>
                    <li>From January 24th until March 30th 2014</li>
                </ul><br />
                <h4>Transportation Filters</h4>
                <ul class="plain-list">
                    <li>Two police officers will be responsible to control the vehicle access to the Olympic Lanes
                    </li><li>They will also redirect the vehicles without an official Sochi 2014 Vehicle Access and Parking Permit (VAPP) to the appropriate road
                    </li>
                </ul><br />
                <h4>Self-Driving</h4>
                <ul class="plain-list">
                    <li>Non-Russian citizens will require the following in order to drive in Russia:
                    </li><li>International Passport
                    </li><li>National Driving License (with an International  Driving Permit) or
                    </li><li>National Driving License (with a certified translation)
                    </li><li><a href="http://www.caa.ca/idp/" target="_blank">Click here</a> to learn more about obtaining an International Driving Permit
                    </li>
                </ul>
</div>

                    </div></div>

                </div>
            </div>
            <footer id="footer">
                <div id="footer-main">
                    <div class="container">
                        <div class="row">
                            <!-- place for info boxes (see below) -->
                        </div>
                    </div>
                </div>

                <!-- copyright section -->
                <div id="footer-copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 clearfix">

                                <!-- copyright -->
                                <p class="copyright">Copyright &copy; 2013 Canadian Olympic Committee</p>

                                <!-- optional place for links -->
                                <div class="links">
                                    <a class="btn btn-circle btn-medium-light btn-sm" href="#">
                                        <i class="fa-icon-globe text-dark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
        </div>
        <!-- / javascripts -->
        <script src="/Scripts/jquery-1.9.1.js"></script>
        <script src="/Scripts/bootstrap.js"></script>
        <script src="/Scripts/jednotka.js"></script>
      
</body>
</html>
