<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
<!-- <![endif] -->
<head>
    <title>Canada Olympic House</title>
    <meta content='<!-- page keywords -->' name='keywords'>
    <meta content='<!-- page description -->' name='description'>
    <meta content='<!-- page author -->' name='author'>
    <!-- instructions for robots -->
    <meta content='NOINDEX, NOFOLLOW' name='robots'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <!-- this enables responsive features in browser -->
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <!-- if you are going to support IE -->
    <!--[if IE]> <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> <![endif]-->
    <!-- / icons -->
    <link href='/content/meta_icons/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='/content/images/meta_icons/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
    <!-- / stylesheets -->
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jednotka_salmon.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/coh.css" rel="stylesheet" />
    <!-- if you are going to support IE8 -->
    <!--[if lt IE 9]>
      <script src="/scripts/ie/html5shiv.js" type="text/javascript"></script>
      <script src="/scripts/ie/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="boxed">
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <nav class="navbar navbar-default" id="nav" role="navigation">
                    <div class="navbar-header">
                        <!-- navigation toggler on small screens -->
                        <button class="navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="" style="color: #fff;">
                            <img src="~/Content/images/coc-brand-x.png" style="max-height: 70px;" />
                        </a>
                    </div>
                    <!-- navigation -->
                    <div class="collapse navbar-collapse navbar-header-collapse">
                       <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/fr"><span>Accueil</span></a></li>
                            <li><a href="/fr/sochi_101"><span>Sotchi 101</span></a></li>
                            <li><a href="/fr/travel"><span>Pour se rendre aux jeux</span></a></li>
                            <li><a href="/fr/games"><span>Logistique aux jeux</span></a></li>
                            <li><a href="/fr/faq"><span>FAQ</span></a></li>
                            <li><a href="/fr/links"><span>Liens utiles</span></a></li>
                            <li><a href="/fr/contact"><span>Contactez-nous</span></a></li>
                            <li><a href="/en/"><span>English</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div id="main">
            <div id="main-content">
                <div class="container">
                    <!-- your content with grid system -->                  
                    <div class="row text-box">
                        <div class="col-sm-12">


     <div class='jumbotron'>
                      <h4 class='no-mg-t'>Inscrivez-vous auprès de la Maison du Canada aujourd’hui!</h4>
                      
                      <a class='btn btn-contrast no-mg-b' href="/fr/register"> <i class='fa-icon-pencil text-white' style="margin-right:15px;"></i>Inscrivez-vous en ligne</a>
                    </div>


                            <h4 class="title">Maison olympique du Canada</h4><br />
                            <p>
    La Maison olympique du Canada (MOC) sert principalement de « deuxième chez-soi » pour les membres de la famille et les amis des athlètes de l’Équipe olympique canadienne, les entraîneurs, le personnel de soutien, les membres de l’équipe de mission, les commanditaires et les invités spéciaux. L’idée derrière la MOC consiste à créer une oasis à saveur canadienne au sein de la ville hôte olympique qui peut servir de lieu de rencontre pour les personnes qui ont un lien avec l’Équipe olympique canadienne. La MOC sert également à nombre de fonctions organisationnelles et privées pour le COC ainsi que pour les fédérations nationales de sports canadiennes pendant les Jeux. Elle est située dans un endroit de choix, dans le Parc olympique.
</p>
<p>
   Les Jeux olympiques sont plus qu’une simple expérience pour les athlètes – beaucoup de membres de la famille et d’amis des athlètes décident qu’il s’agit de « l’événement » auquel ils veulent prendre part avec leur athlète. La MOC leur offre une façon structurée de prendre part à l’expérience olympique. 
</p>
<p>
    La MOC constitue également un élément intégral pour les initiatives d’« activation des commanditaires » pour les partenaires commerciaux du COC. Elle offre aux commanditaires des occasions d’interagir avec les Canadiens qui visiteront la Maison olympique du Canada et leur permet promouvoir leurs marques.
</p>
<p>
    Enfin, la Maison olympique du Canada sert de site médiatique principal pour l’équipe canadienne, y compris de lieu pour les « célébrations » du COC lorsque les athlètes remportent des médailles, les séances quotidiennes d’information pour les médias et les occasions d’entrevue. La MOC constitue le principal endroit dont dispose le Comité olympique canadien pour accueillir les invités spéciaux des secteurs gouvernemental, sportif et commercial.</p>
<h3>Emplacement</h3>
<p>
   À Sotchi, le Parc olympique sera un site unique qui, pour la première fois de l’histoire des Jeux olympiques d’hiver, réunira les arénas principaux et le stade central où se dérouleront les cérémonies, et ce, dans le but d’offrir les meilleurs services possible aux spectateurs tout comme aux athlètes. Ce sera également la première fois que des maisons d’accueil se trouveront dans le Parc olympique.
</p>
<p>
   La Maison olympique du Canada (MOC) se trouvera au cœur des Jeux olympiques d’hiver de 2014 à Sotchi. Elle se situera dans le Parc olympique. <a href="/pdf/coc-coh-map-fr.pdf" target="_blank">Cliquez ici pour voir une map du Parc olympique, incluant la Maison olympique du Canada</a> 
</p>

                        </div>
                    </div>
                    <hr class="hr-half" />
                    <div class="row">
                        <div class='col-sm-12'>
                            <h4 class="title">Avantages dont pourront bénéficier les invités de la MOC en raison de son emplacement dans le Parc olympique</h4><br />
                            <div class='icon-boxes icon-boxes-lg'>
                                <div class='row'>
                                    <div class='col-sm-12 icon-box'>
                                        <div class='icon icon-wrap icon-circle icon-sm contrast-bg'>
                                            <i class='fa-icon-plane text-white'></i>
                                        </div>
                                        <div class='content'>
                                               Correspondance pratique par rail vers Sotchi et l’aéroport
                                        </div>
                                    </div>
                                    <div class='col-sm-12 icon-box'>
                                        <div class='icon icon-wrap icon-circle icon-sm contrast-bg'>
                                            <i class='fa-icon-location-arrow text-white'></i>
                                        </div>
                                        <div class='content'>
Proximité des lieux où se dérouleront les programmes culturels et de divertissements pour les participants et les spectateurs

                                        </div>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-sm-12 icon-box'>
                                        <div class='icon icon-wrap icon-circle icon-sm contrast-bg'>
                                            <i class='fa-icon-map-marker text-white'></i>
                                        </div>
                                        <div class='content'>
                                            Proximité des salons et des stands d’exposition des partenaires des Jeux

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class='col-sm-12 icon-box'>
                                        <div class='icon icon-wrap icon-circle icon-sm contrast-bg'>
                                            <i class='fa-icon-trophy text-white'></i>
                                        </div>
                                        <div class='content'>
                                            Adjacente au Stade central, aux sites de compétitions, aux bureaux du CIO et des clubs olympiques, au Centre principal des médias et au Centre international de radio et télévision ainsi qu’au Village olympique côtier

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-half" />
                    <div class="row">
                        <div class='col-sm-12'><br />
                            <h4 class="title">Heures d’ouverture</h4><br />
                            <p>La MOC sera ouverte de 10 h à 23 h tous les jours pendant les Jeux olympiques d’hiver (du 7 au 23 février 2014). Les heures d’ouverture pourraient cependant changer en raison de l’horaire de compétition et des événements spéciaux.

</p>
                        </div>
                    </div>
                    <hr class="hr-half" />
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="title">Opérations</h4><br />
                            <p>
Les invités auront accès à une multitude de produits, de renseignements, de services et de ressources. Les opérations de la Maison olympique du Canada comprendront ce qui suit :

       </p>
<ul class="list-unstyled" >
     <li><i class='fa-icon-ok fa-icon-fixed-width' style="margin-right:10px;"></i>Un service de repas léger
</li><li><i class='fa-icon-ok fa-icon-fixed-width' style="margin-right:10px;"></i>Des collations et des boissons pendant la journée
</li><li><i class='fa-icon-ok fa-icon-fixed-width' style="margin-right:10px;"></i>Un salon Internet gratuit
</li><li><i class='fa-icon-ok fa-icon-fixed-width' style="margin-right:10px;"></i>Un comptoir de service (conciergerie)
</li><li><i class='fa-icon-ok fa-icon-fixed-width' style="margin-right:10px;"></i>Des numéros de téléphone locaux pour obtenir de l’information immédiate et pratique fournie par des membres du personnel et des bénévoles bilingues 
</li><li><i class='fa-icon-ok fa-icon-fixed-width' style="margin-right:10px;"></i>Des célébrations à l’occasion des médailles remportées par les athlètes
</li><li><i class='fa-icon-ok fa-icon-fixed-width' style="margin-right:10px;"></i>Des événements spéciaux présentés par les commanditaires, les gouvernements, les fédérations nationales de sports et les partenaires
</li><li><i class='fa-icon-ok fa-icon-fixed-width' style="margin-right:10px;"></i>Des événements spéciaux pour les athlètes, les membres de leur famille et leurs amis, notamment les célébrations de la cérémonie d’ouverture et de clôture
</li><li><i class='fa-icon-ok fa-icon-fixed-width' style="margin-right:10px;"></i>Siège social des services organisationnels du COC

    </li>


    
</ul>
La MOC est une installation privée pour laquelle il faut se préinscrire et obtenir une accréditation afin d’y accéder. Cette année, la maison comprendra une aire réservée au commerce de détail qui sera ouverte au grand public. Puisque la MOC se trouve à l’intérieur du Parc olympique, en plus de l’accréditation nécessaire pour la MOC, chaque invité qui entrera au Parc olympique devra posséder un laissez-passer de spectateur et un billet d’admission pour le Parc olympique. Le COJO s’assurera que les visiteurs ont accès gratuitement aux maisons d’accueil, et ce conformément aux procédures d’exploitation du Parc olympique. Le COJO offrira également une accréditation standard au personnel des maisons d’accueil, et ce en fonction de la taille de la maison et du nombre de membres du personnel. Le COC vous informera à savoir à quoi vous donne accès votre accréditation et comment vous procurer les documents.


                            
                        </div>
                    </div>
                    <hr class="hr-half" />
                    <div class="row">
                         <div class='col-sm-12'><br />
                             <h4 class="title">Accès à la Maison olympique du Canada</h4><br />
                             <ul>

                              <li>Tous les membres de l’Équipe olympique canadienne (personnel de soutien accrédité et non accrédité) auront accès à la MOC sans avoir à s’inscrire à l’avance puisque leurs renseignements personnels auront été prélevés dans la base de données Zeus du COC. 
</li><li>Tous les membres de l’Équipe olympique canadienne qui ne travaillent pas à partir de la MOC auront l’occasion à tout moment, selon la capacité de l’édifice, de visiter la MOC ainsi que de s’y détendre et y profiter des services d’accueil et des ressources, qui seront offerts. 
</li><li>Une équipe de bénévoles à l’accès gérera le comptoir d’inscription. 
</li><li>Pour tous les autres invités, la période de préinscription par l’intermédiaire de la base de données d’accès de la MOC sur le site Web du COC débutera vers la fin de l’automne 2013.
    </li>

                                  </ul>
                             </div>
                    </div>
                    <hr class="hr-half" />
                    <div class="row">
                        <div class="col-sm-12"><br />
                            <h4 class="title">Sécurité</h4><br />
                            <p>Un service de sécurité sera déployé sur place afin de surveiller les activités publique dans le Parc olympique. Le COC travaille en collaboration avec des équipes de la GRC et d’autres agences afin de garantir la sécurité et la protection de toutes les personnes qui entreront à la Maison olympique du Canada.
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div id="footer-main">
                <div class="container">
                    <div class="row">
                        <!-- place for info boxes (see below) -->
                    </div>
                </div>
            </div>

            <!-- copyright section -->
            <div id="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 clearfix">

                            <!-- copyright -->
                            <p class="copyright">Copyright &copy; 2013 Comité olympique canadien</p>

                            <!-- optional place for links -->
                            <div class="links">
                                <a class="btn btn-circle btn-medium-light btn-sm" href="#">
                                    <i class="fa-icon-globe text-dark"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <!-- / javascripts -->
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jednotka.js"></script>
</body>
</html>
